Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot] Update nightly from tektoncd/pipeline:main to bbc5b442326349b85db01c9d2a206619b4aedf57
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/scorecard.yml
  upstream/Makefile
  upstream/go.mod
  upstream/go.sum
  upstream/test/custom-task-ctrls/wait-task-beta/go.mod
  upstream/test/custom-task-ctrls/wait-task-beta/go.sum
  upstream/vendor/github.com/allegro/bigcache/v3/.golangci.yaml
  upstream/vendor/github.com/allegro/bigcache/v3/README.md
  upstream/vendor/github.com/allegro/bigcache/v3/bigcache.go
  upstream/vendor/github.com/allegro/bigcache/v3/bytes.go
  upstream/vendor/github.com/allegro/bigcache/v3/bytes_appengine.go
  upstream/vendor/github.com/allegro/bigcache/v3/encoding.go
  upstream/vendor/github.com/allegro/bigcache/v3/entry_not_found_error.go
  upstream/vendor/github.com/allegro/bigcache/v3/queue/bytes_queue.go
  upstream/vendor/github.com/allegro/bigcache/v3/shard.go
  upstream/vendor/github.com/allegro/bigcache/v3/utils.go
  upstream/vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  upstream/vendor/google.golang.org/grpc/internal/mem/buffer_pool.go
  upstream/vendor/google.golang.org/grpc/internal/transport/handler_server.go
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_client.go
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_server.go
  upstream/vendor/google.golang.org/grpc/internal/transport/transport.go
  upstream/vendor/google.golang.org/grpc/mem/buffer_pool.go
  upstream/vendor/google.golang.org/grpc/mem/buffers.go
  upstream/vendor/google.golang.org/grpc/version.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 839419ecd9f3103625b8c17557c5608d914ca47e
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_server.go
  upstream/vendor/google.golang.org/grpc/version.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline:release-v1.15.x to b1e03372cff88a1b9b3620095c7b41a60b2bcdd4
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_server.go
  upstream/vendor/google.golang.org/grpc/version.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update nightly from tektoncd/pipeline:main to 63c28f04184a855dc9af5b501ac22fce289692dc
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependabot-regen.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/woke.yml
  upstream/.ko.yaml
  upstream/config/config-feature-flags.yaml
  upstream/docs/additional-configs.md
  upstream/go.mod
  upstream/go.sum
  upstream/pkg/apis/config/feature_flags.go
  upstream/pkg/pod/pod_test.go
  upstream/pkg/reconciler/pipelinerun/affinity_assistant_test.go
  upstream/pkg/reconciler/taskrun/taskrun_test.go
  upstream/test/custom-task-ctrls/wait-task-beta/go.mod
  upstream/test/custom-task-ctrls/wait-task-beta/go.sum
  upstream/vendor/golang.org/x/net/http2/hpack/encode.go
  upstream/vendor/golang.org/x/net/http2/hpack/hpack.go
  upstream/vendor/golang.org/x/net/http2/hpack/tables.go
  upstream/vendor/golang.org/x/net/http2/transport_wrap.go
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_server.go
  upstream/vendor/google.golang.org/grpc/version.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.24.x from tektoncd/pipeline:release-v1.15.x to b1e03372cff88a1b9b3620095c7b41a60b2bcdd4
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_server.go
  upstream/vendor/google.golang.org/grpc/version.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 540dda74b89b97a565007b3153995c63373d23a5
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_server.go
  upstream/vendor/google.golang.org/grpc/version.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to c59b083b6fdcd3e8ba9238c64765e24737144e7e
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update nightly from tektoncd/pipeline:main to ea9fd6fc45bec51c1467e8d44f7141fc35b5099d
  head
  upstream/releases.md
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot] Update nightly from tektoncd/pipeline:main to 4451a3829823e1b8d47bdfd4c90b156814ee50c6
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/docker/cli/cli/config/credentials/file_store.go
  upstream/vendor/github.com/google/go-containerregistry/pkg/name/repository.go
  upstream/vendor/github.com/google/go-containerregistry/pkg/v1/mutate/mutate.go
  upstream/vendor/github.com/google/go-containerregistry/pkg/v1/remote/check.go
  upstream/vendor/github.com/google/go-containerregistry/pkg/v1/remote/puller.go
  upstream/vendor/github.com/google/go-containerregistry/pkg/v1/remote/pusher.go
  upstream/vendor/github.com/klauspost/compress/huff0/decompress_amd64.go
  upstream/vendor/github.com/klauspost/compress/huff0/decompress_amd64.s
  upstream/vendor/github.com/klauspost/compress/huff0/decompress_arm64.go
  upstream/vendor/github.com/klauspost/compress/huff0/decompress_arm64.s
  upstream/vendor/github.com/klauspost/compress/huff0/decompress_asm.go
  upstream/vendor/github.com/klauspost/compress/huff0/decompress_generic.go
  upstream/vendor/github.com/klauspost/compress/zstd/blockdec.go
  upstream/vendor/github.com/klauspost/compress/zstd/dict.go
  upstream/vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  upstream/vendor/github.com/klauspost/compress/zstd/seqdec_arm64.s
  upstream/vendor/github.com/klauspost/compress/zstd/seqdec_asm.go
  upstream/vendor/golang.org/x/tools/go/ast/inspector/cursor.go
  upstream/vendor/golang.org/x/tools/go/packages/visit.go
  upstream/vendor/golang.org/x/tools/go/types/typeutil/callee.go
  upstream/vendor/golang.org/x/tools/go/types/typeutil/imports.go
  upstream/vendor/golang.org/x/tools/go/types/typeutil/map.go
  upstream/vendor/golang.org/x/tools/go/types/typeutil/methodsetcache.go
  upstream/vendor/golang.org/x/tools/go/types/typeutil/ui.go
  upstream/vendor/golang.org/x/tools/internal/moremaps/maps.go
  upstream/vendor/golang.org/x/tools/internal/typeparams/common.go
  upstream/vendor/golang.org/x/tools/internal/typeparams/coretype.go
  upstream/vendor/golang.org/x/tools/internal/typeparams/free.go
  upstream/vendor/golang.org/x/tools/internal/typeparams/normalize.go
  upstream/vendor/golang.org/x/tools/internal/typeparams/termlist.go
  upstream/vendor/golang.org/x/tools/internal/typeparams/typeterm.go
  upstream/vendor/golang.org/x/tools/internal/typesinternal/assignedaddress.go
  upstream/vendor/golang.org/x/tools/internal/typesinternal/classify_call.go
  upstream/vendor/golang.org/x/tools/internal/typesinternal/element.go
  upstream/vendor/golang.org/x/tools/internal/typesinternal/toonew.go
  upstream/vendor/golang.org/x/tools/internal/typesinternal/types.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update nightly from tektoncd/pipeline:main to 209110c1b1f993abced0393dfd42d438a0fdd13d
  head
  upstream/pkg/apis/pipeline/v1/pipeline_validation.go
  upstream/pkg/apis/pipeline/v1/pipeline_validation_test.go
  upstream/pkg/apis/pipeline/v1beta1/pipeline_validation.go
  upstream/pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline:release-v1.15.x to 6fbfd433a023ed223c45cd3dba86e6a5f237cdd9
  head
  upstream/pkg/apis/pipeline/v1/pipeline_validation.go
  upstream/pkg/apis/pipeline/v1/pipeline_validation_test.go
  upstream/pkg/apis/pipeline/v1beta1/pipeline_validation.go
  upstream/pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.24.x from tektoncd/pipeline:release-v1.15.x to 6fbfd433a023ed223c45cd3dba86e6a5f237cdd9
  head
  upstream/pkg/apis/pipeline/v1/pipeline_validation.go
  upstream/pkg/apis/pipeline/v1/pipeline_validation_test.go
  upstream/pkg/apis/pipeline/v1beta1/pipeline_validation.go
  upstream/pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update nightly from tektoncd/pipeline:main to 9dec5e4b1530cb040eb2edbfcdc1f4a0985ce25f
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/test/util.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.24.x from tektoncd/pipeline:release-v1.15.x to 6fbfd433a023ed223c45cd3dba86e6a5f237cdd9
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 540dda74b89b97a565007b3153995c63373d23a5
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update next from tektoncd/pipeline:release-v1.15.x to 6fbfd433a023ed223c45cd3dba86e6a5f237cdd9
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 839419ecd9f3103625b8c17557c5608d914ca47e
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:nightly] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push
