Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

Revert "[bot:release-v1.15.x] update konflux configuration"
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.20.x from tektoncd/pipeline to b85a26e8cc697d23265503941bf5da5e86bbe2b9
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/woke.yml
  upstream/go.mod
  upstream/go.sum
  upstream/tekton/publish.yaml
  upstream/vendor/github.com/go-jose/go-jose/v3/asymmetric.go
  upstream/vendor/github.com/go-jose/go-jose/v3/cipher/key_wrap.go
  upstream/vendor/github.com/go-jose/go-jose/v3/symmetric.go
  upstream/vendor/github.com/google/cel-go/cel/env.go
  upstream/vendor/github.com/google/cel-go/cel/folding.go
  upstream/vendor/github.com/google/cel-go/cel/program.go
  upstream/vendor/github.com/google/cel-go/cel/templates/authoring.tmpl
  upstream/vendor/github.com/google/cel-go/cel/validator.go
  upstream/vendor/github.com/google/cel-go/common/types/pb/type.go
  upstream/vendor/github.com/stretchr/testify/assert/assertion_compare.go
  upstream/vendor/github.com/stretchr/testify/assert/assertion_format.go
  upstream/vendor/github.com/stretchr/testify/assert/assertion_forward.go
  upstream/vendor/github.com/stretchr/testify/assert/assertion_order.go
  upstream/vendor/github.com/stretchr/testify/assert/assertions.go
  upstream/vendor/github.com/stretchr/testify/assert/doc.go
  upstream/vendor/github.com/stretchr/testify/assert/http_assertions.go
  upstream/vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  upstream/vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  upstream/vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  upstream/vendor/github.com/stretchr/testify/require/doc.go
  upstream/vendor/github.com/stretchr/testify/require/require.go
  upstream/vendor/github.com/stretchr/testify/require/require_forward.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-15-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-controller-push.yaml
  .tekton/tektoncd-pipeline-1-15-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-15-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-events-push.yaml
  .tekton/tektoncd-pipeline-1-15-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-nop-push.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-15-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-15-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-15-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

Add rebuild instruction to placeholder file
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

Update sha for ubi8
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  upstream/tools/go.mod
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

update go-toolset from ubi9 to ubi8
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.24.x from tektoncd/pipeline to 5a882817386c72d545a7448b0793a758c0eba6b1
  head
  upstream/pkg/apis/pipeline/v1/container_validation.go
  upstream/pkg/apis/pipeline/v1/container_validation_test.go
  upstream/pkg/apis/pipeline/v1beta1/task_validation.go
  upstream/pkg/apis/pipeline/v1beta1/task_validation_test.go
  upstream/pkg/remoteresolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resolver/git/repository.go
  upstream/pkg/resolution/resolver/git/repository_test.go
  upstream/pkg/resolution/resolver/git/resolver.go
  upstream/pkg/resolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resolver/http/config.go
  upstream/pkg/resolution/resolver/http/resolver.go
  upstream/pkg/resolution/resolver/http/resolver_test.go
  upstream/pkg/trustedresources/verify.go
  upstream/pkg/trustedresources/verify_regex_bypass_control_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline to 5a882817386c72d545a7448b0793a758c0eba6b1
  head
  upstream/pkg/apis/pipeline/v1/container_validation.go
  upstream/pkg/apis/pipeline/v1/container_validation_test.go
  upstream/pkg/apis/pipeline/v1beta1/task_validation.go
  upstream/pkg/apis/pipeline/v1beta1/task_validation_test.go
  upstream/pkg/remoteresolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resolver/git/repository.go
  upstream/pkg/resolution/resolver/git/repository_test.go
  upstream/pkg/resolution/resolver/git/resolver.go
  upstream/pkg/resolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resolver/http/config.go
  upstream/pkg/resolution/resolver/http/resolver.go
  upstream/pkg/resolution/resolver/http/resolver_test.go
  upstream/pkg/trustedresources/verify.go
  upstream/pkg/trustedresources/verify_regex_bypass_control_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline to 3c8c62bb728eedcb5c1d6eec503de236f9fb5c81
  head
  upstream/pkg/apis/pipeline/v1beta1/stepaction_types.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler_test.go
  upstream/pkg/remoteresolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resolver/framework/interface.go
  upstream/pkg/resolution/resolver/framework/reconciler.go
  upstream/pkg/resolution/resolver/framework/reconciler_test.go
  upstream/pkg/resolution/resolver/git/resolver_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-18-nop
  .tekton/tektoncd-pipeline-1-18-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-nop-push.yaml
Due: none
