Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to fa066dfdc521fb4a1715b3de4759bbccbebc0e06
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/google.golang.org/protobuf/encoding/protodelim/protodelim.go
  upstream/vendor/google.golang.org/protobuf/encoding/protojson/decode.go
  upstream/vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  upstream/vendor/google.golang.org/protobuf/encoding/prototext/decode.go
  upstream/vendor/google.golang.org/protobuf/internal/descfmt/stringer.go
  upstream/vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  upstream/vendor/google.golang.org/protobuf/internal/encoding/defval/default.go
  upstream/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  upstream/vendor/google.golang.org/protobuf/internal/version/version.go
  upstream/vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  upstream/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  upstream/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/fieldmaskpb/field_mask.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/structpb/struct.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

One Click Release: build all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.24.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:nightly] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update next from tektoncd/pipeline:release-v1.15.x to 9b2d596ad68638752c53ad4dd4d4b96422a66e09
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/scorecard.yml
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  upstream/vendor/google.golang.org/protobuf/internal/encoding/defval/default.go
  upstream/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  upstream/vendor/google.golang.org/protobuf/internal/version/version.go
  upstream/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  upstream/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/fieldmaskpb/field_mask.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/structpb/struct.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 1177f0987b7bc9aa4f9a70f2a7e77adb1a9728c1
  head
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  upstream/vendor/google.golang.org/protobuf/internal/encoding/defval/default.go
  upstream/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  upstream/vendor/google.golang.org/protobuf/internal/version/version.go
  upstream/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  upstream/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/fieldmaskpb/field_mask.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/structpb/struct.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.24.x from tektoncd/pipeline:release-v1.15.x to 9b2d596ad68638752c53ad4dd4d4b96422a66e09
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/scorecard.yml
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  upstream/vendor/google.golang.org/protobuf/internal/encoding/defval/default.go
  upstream/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  upstream/vendor/google.golang.org/protobuf/internal/version/version.go
  upstream/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  upstream/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/fieldmaskpb/field_mask.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/structpb/struct.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request
