Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot] update konflux configuration
  .tekton/tektoncd-pipeline-main-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-main-controller-push.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-main-events-pull-request.yaml
  .tekton/tektoncd-pipeline-main-events-push.yaml
  .tekton/tektoncd-pipeline-main-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-main-nop-push.yaml
  .tekton/tektoncd-pipeline-main-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-main-resolvers-push.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-main-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-main-webhook-push.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-push.yaml
Due: none

[bot] update konflux configuration
  .tekton/tektoncd-pipeline-main-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-main-events-pull-request.yaml
  .tekton/tektoncd-pipeline-main-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-main-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-main-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-pull-request.yaml
Due: none

[bot] Update from tektoncd/pipeline to ff830fff5d6d1ed856a9b42d5e5d234efffac1bf
  head
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

renovate.json: temporary disable schedule
  renovate.json
Due: none

[bot] Update from tektoncd/pipeline to 5aa28739425b9f350bacfb764ad93b480279c414
  head
  upstream/tekton/release-cheat-sheet.md
Due: events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update from tektoncd/pipeline to 1151c62fd0fafbecec6575f5f949620bcecc6066
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/scorecard.yml
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update from tektoncd/pipeline to 3c7687043690b88539ca9f524ac3002fa610b7d3
  head
  upstream/tekton/bugfix-release.sh
Due: events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Update rpms for multi platform
  openshift/rpms/rpms.in.yaml
  openshift/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] update konflux configuration
  .github/workflows/auto-merge.main.yaml
  .github/workflows/auto-merge.release-v1.17.x.yaml
Due: none

[bot] update konflux configuration
  .tekton/docker-build-ta.yaml
  .tekton/tektoncd-pipeline-main-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-main-controller-push.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-main-events-pull-request.yaml
  .tekton/tektoncd-pipeline-main-events-push.yaml
  .tekton/tektoncd-pipeline-main-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-main-nop-push.yaml
  .tekton/tektoncd-pipeline-main-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-main-resolvers-push.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-main-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-main-webhook-push.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-push.yaml
Due: none

[bot] Update from tektoncd/pipeline to 0350a6e50b6cff7a4b3cb082510734b75c587b04
  head
  upstream/config/config-observability.yaml
  upstream/docs/metrics.md
  upstream/pkg/apis/config/metrics.go
  upstream/pkg/apis/config/metrics_test.go
  upstream/pkg/apis/config/testdata/config-observability-namespacelevel.yaml
  upstream/pkg/apis/config/testdata/config-observability-throttle.yaml
  upstream/pkg/pipelinerunmetrics/metrics.go
  upstream/pkg/pipelinerunmetrics/metrics_test.go
Due: events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update from tektoncd/pipeline to a81850c45828b4e5b36f20100b8378c122aefcb7
  head
  upstream/docs/artifacts.md
Due: events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update from tektoncd/pipeline to 6a452cac705feb98274e2f9ae3fcc4142e9f12b6
  head
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update from tektoncd/pipeline to 96db451723e5c30785e729899ee458b07ceb6869
  head
  upstream/cmd/entrypoint/subcommands/subcommands.go
  upstream/pkg/apis/config/feature_flags_test.go
  upstream/pkg/pod/creds_init_test.go
  upstream/pkg/pod/pod.go
  upstream/pkg/reconciler/events/k8sevent/events.go
  upstream/pkg/reconciler/pipelinerun/resources/pipelineref_test.go
  upstream/pkg/reconciler/taskrun/resources/taskref_test.go
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] update konflux configuration
  .konflux/main/component-controller.yaml
  .konflux/main/component-entrypoint.yaml
  .konflux/main/component-events.yaml
  .konflux/main/component-nop.yaml
  .konflux/main/component-resolvers.yaml
  .konflux/main/component-sidecarlogresults.yaml
  .konflux/main/component-webhook.yaml
  .konflux/main/component-workingdirinit.yaml
  .konflux/release-v1.17.x/component-controller.yaml
  .konflux/release-v1.17.x/component-entrypoint.yaml
  .konflux/release-v1.17.x/component-events.yaml
  .konflux/release-v1.17.x/component-nop.yaml
  .konflux/release-v1.17.x/component-resolvers.yaml
  .konflux/release-v1.17.x/component-sidecarlogresults.yaml
  .konflux/release-v1.17.x/component-webhook.yaml
  .konflux/release-v1.17.x/component-workingdirinit.yaml
  .tekton/tektoncd-pipeline-main-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-main-controller-push.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-main-events-pull-request.yaml
  .tekton/tektoncd-pipeline-main-events-push.yaml
  .tekton/tektoncd-pipeline-main-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-main-nop-push.yaml
  .tekton/tektoncd-pipeline-main-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-main-resolvers-push.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-main-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-main-webhook-push.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-push.yaml
Due: none

[bot] Update from tektoncd/pipeline to a161298d33eca265485f92633c4734d4829741b5
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/scorecard.yml
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun_test.go
  upstream/pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  upstream/pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  upstream/pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
  upstream/tekton/publish.yaml
  upstream/test/pipelinefinally_test.go
Due: events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Delete openshift, move dockerfile and rpms to .konflux
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .konflux/patches/.placeholder
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
  openshift/README.md
Due: none

Update dockerfile to change patch location
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: none

Added e2e-pipeline.yaml
  e2e/e2e-pipeline.yaml
Due: none

Updated e2e-pipeline.yaml
  e2e/e2e-pipeline.yaml
Due: none
