Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-nop-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/nop:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/nop.Dockerfile
  ...

tektoncd-pipeline-main-sidecarlogresults-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/sidecarlogresults:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

[bot:nightly] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

One Click Release: build all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 0b947f8ebfa163107545f808d16e5f562b231feb
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.envrc.sample
  upstream/.gitattributes
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/ISSUE_TEMPLATE/promotion-request.md
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/cherry-pick-command.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/labels.yaml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/slash.yml
  upstream/.github/workflows/woke.yml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.ko.yaml
  upstream/.pre-commit-config.yaml
  upstream/.wokeignore
  upstream/.yamllint
  upstream/cmd/controller/kodata/LICENSE
  upstream/cmd/entrypoint/kodata/LICENSE
  upstream/cmd/events/kodata/LICENSE
  upstream/cmd/nop/kodata/LICENSE
  upstream/cmd/resolvers/kodata/LICENSE
  upstream/cmd/webhook/kodata/LICENSE
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-controller
  .tekton/tektoncd-pipeline-1-22-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-entrypoint
  .tekton/tektoncd-pipeline-1-22-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-entrypoint-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-events
  .tekton/tektoncd-pipeline-1-22-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-nop
  .tekton/tektoncd-pipeline-1-22-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-nop-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-resolvers
  .tekton/tektoncd-pipeline-1-22-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-sidecarlogresults
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-webhook
  .tekton/tektoncd-pipeline-1-22-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-workingdirinit
  .tekton/tektoncd-pipeline-1-22-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-workingdirinit-push.yaml
Due: none

[bot] Update release-v1.15.x from tektoncd/pipeline:release-v0.59.x to b08b965d883495bbc8c943cb49eb97fdea5d5f80
  upstream/.envrc.sample
  upstream/.gitattributes
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/ISSUE_TEMPLATE/promotion-request.md
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/slash.yml
  upstream/.github/workflows/woke.yml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.pre-commit-config.yaml
  upstream/.wokeignore
  upstream/.yamllint
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 0b947f8ebfa163107545f808d16e5f562b231feb
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to bbe1a9cf68a844395dc25d2b5ea3dd170364f3a4
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/zizmor.yaml
  upstream/cmd/controller/kodata/LICENSE
  upstream/cmd/entrypoint/kodata/LICENSE
  upstream/cmd/events/kodata/LICENSE
  upstream/cmd/nop/kodata/LICENSE
  upstream/cmd/resolvers/kodata/LICENSE
  upstream/cmd/webhook/kodata/LICENSE
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update nightly from tektoncd/pipeline:main to 381643890ba8494b161f1392d4ecca13fed39111
  upstream/.agents/skills/tekton-pipeline-discovery
  upstream/.claude/skills/tekton-pipeline-discovery
  upstream/.codex/skills/tekton-pipeline-discovery
  upstream/.envrc.sample
  upstream/.gitattributes
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/ISSUE_TEMPLATE/promotion-request.md
  upstream/.github/dependabot.config.yml
  upstream/.github/dependabot.yml
  upstream/.github/e2e-matrix-draft.json
  upstream/.github/e2e-matrix-full.json
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/cherry-pick-command.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependabot-regen.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/labels.yaml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/patch-release.yaml
  upstream/.github/workflows/rebase-command.yaml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/slash.yml
  upstream/.github/workflows/woke.yml
  upstream/.github/workflows/zizmor.yaml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.ko.yaml
  upstream/.pre-commit-config.yaml
  upstream/.tekton/release-patch.yaml
  upstream/.tekton/release.yaml
  upstream/.wokeignore
  upstream/.yamllint
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)
