Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot:main] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-push.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-push.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-push.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-next-resolvers-push.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-pipeline-1-23-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-resolvers-push.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-push.yaml
Due: none

[bot:nightly] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-nightly-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-controller-push.yaml
  .tekton/tektoncd-pipeline-nightly-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-nightly-events-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-events-push.yaml
  .tekton/tektoncd-pipeline-nightly-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-nop-push.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-push.yaml
  .tekton/tektoncd-pipeline-nightly-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-nightly-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-webhook-push.yaml
  .tekton/tektoncd-pipeline-nightly-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update next from tektoncd/pipeline:release-v1.12.x to 513e0e0e1ff8f0e90f39cae508fd6428bd735525
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependabot-regen.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/woke.yml
  upstream/go.mod
  upstream/tekton/publish.yaml
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.21.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-21-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-push.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-15-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-push.yaml
Due: none

[bot:nightly] update konflux configuration
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-push.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-22-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-push.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-23-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-resolvers-push.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-20-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-push.yaml
Due: none

[bot] Update release-v1.22.x from tektoncd/pipeline to a12eb1083ced24cf9b9e564a70ae23c58a8466ca
  head
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun_test.go
  upstream/pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  upstream/pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  upstream/pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
  upstream/tekton/publish.yaml
  upstream/test/custom-task-ctrls/wait-task-beta/go.mod
  upstream/test/custom-task-ctrls/wait-task-beta/go.sum
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.21.x from tektoncd/pipeline to 47cc14def6e8d95fc5be18ec7a40270f72cb1c17
  head
  upstream/.github/workflows/woke.yml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:nightly] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-nightly-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-controller-push.yaml
  .tekton/tektoncd-pipeline-nightly-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-nightly-events-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-events-push.yaml
  .tekton/tektoncd-pipeline-nightly-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-nop-push.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-push.yaml
  .tekton/tektoncd-pipeline-nightly-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-nightly-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-webhook-push.yaml
  .tekton/tektoncd-pipeline-nightly-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push
