Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-nop-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/nop:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/nop.Dockerfile
  ...

tektoncd-pipeline-main-sidecarlogresults-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/sidecarlogresults:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-controller
  .tekton/tektoncd-pipeline-1-20-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-entrypoint
  .tekton/tektoncd-pipeline-1-20-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-events
  .tekton/tektoncd-pipeline-1-20-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-nop
  .tekton/tektoncd-pipeline-1-20-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-nop-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-resolvers
  .tekton/tektoncd-pipeline-1-20-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-sidecarlogresults
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-webhook
  .tekton/tektoncd-pipeline-1-20-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-workingdirinit
  .tekton/tektoncd-pipeline-1-20-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-push.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:next] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:main] update konflux configuration
  .github/renovate.json
Due: none

[bot] Update release-v1.18.x from tektoncd/pipeline to 8d33f2ae87e5a20bce798055da0f3bfb6a08a46d
  head
  upstream/pkg/pipelinerunmetrics/metrics.go
  upstream/pkg/pipelinerunmetrics/metrics_test.go
  upstream/pkg/remoteresolution/resolver/bundle/resolver.go
  upstream/pkg/remoteresolution/resolver/cluster/resolver.go
  upstream/pkg/remoteresolution/resolver/cluster/resolver_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/cache.go
  upstream/pkg/remoteresolution/resolver/framework/cache/cache_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/operations.go
  upstream/pkg/remoteresolution/resolver/framework/cache/operations_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/setup_test.go
  upstream/pkg/remoteresolution/resolver/git/resolver.go
  upstream/pkg/taskrunmetrics/metrics.go
  upstream/pkg/taskrunmetrics/metrics_test.go
  upstream/test/README.md
  upstream/test/init_test.go
  upstream/test/registry_test.go
  upstream/test/resolver_cache_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline to 8d33f2ae87e5a20bce798055da0f3bfb6a08a46d
  head
  upstream/pkg/pipelinerunmetrics/metrics.go
  upstream/pkg/pipelinerunmetrics/metrics_test.go
  upstream/pkg/remoteresolution/resolver/bundle/resolver.go
  upstream/pkg/remoteresolution/resolver/cluster/resolver.go
  upstream/pkg/remoteresolution/resolver/cluster/resolver_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/cache.go
  upstream/pkg/remoteresolution/resolver/framework/cache/cache_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/operations.go
  upstream/pkg/remoteresolution/resolver/framework/cache/operations_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/setup_test.go
  upstream/pkg/remoteresolution/resolver/git/resolver.go
  upstream/pkg/taskrunmetrics/metrics.go
  upstream/pkg/taskrunmetrics/metrics_test.go
  upstream/test/README.md
  upstream/test/init_test.go
  upstream/test/registry_test.go
  upstream/test/resolver_cache_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.15.x from tektoncd/pipeline to 8d33f2ae87e5a20bce798055da0f3bfb6a08a46d
  head
  upstream/pkg/pipelinerunmetrics/metrics.go
  upstream/pkg/pipelinerunmetrics/metrics_test.go
  upstream/pkg/remoteresolution/resolver/bundle/resolver.go
  upstream/pkg/remoteresolution/resolver/cluster/resolver.go
  upstream/pkg/remoteresolution/resolver/cluster/resolver_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/cache.go
  upstream/pkg/remoteresolution/resolver/framework/cache/cache_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/operations.go
  upstream/pkg/remoteresolution/resolver/framework/cache/operations_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/setup_test.go
  upstream/pkg/remoteresolution/resolver/git/resolver.go
  upstream/pkg/taskrunmetrics/metrics.go
  upstream/pkg/taskrunmetrics/metrics_test.go
  upstream/test/README.md
  upstream/test/init_test.go
  upstream/test/registry_test.go
  upstream/test/resolver_cache_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline to 99195de00f642a86ca522455e2101826f8fe8601
  head
  upstream/.github/workflows/e2e-matrix.yml
  upstream/cmd/sidecarlogresults/main.go
  upstream/cmd/sidecarlogresults/main_test.go
  upstream/examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  upstream/examples/v1/pipelineruns/beta/http-resolver.yaml
  upstream/examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
  upstream/pkg/pod/pod.go
  upstream/pkg/pod/pod_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.21.x from tektoncd/pipeline to 8910674cb953317a4373f33822024b9de8c5fa22
  head
  upstream/.github/workflows/nightly-builds.yaml
  upstream/docs/pipeline-api.md
  upstream/go.mod
  upstream/go.sum
  upstream/hack/reference-docs-gen-config.json
  upstream/hack/update-codegen.sh
  upstream/pkg/resolution/resolver/git/repository.go
  upstream/pkg/resolution/resolver/git/repository_test.go
  upstream/pkg/resolution/resolver/git/resolver.go
  upstream/pkg/resolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resource/name.go
  upstream/pkg/resolution/resource/name_test.go
  upstream/tekton/README.md
  upstream/tekton/publish.yaml
  upstream/tekton/release-cheat-sheet.md
  upstream/tekton/release-pipeline.yaml
  upstream/test/resolvers_test.go
  upstream/vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

rebuild: trigger image rebuild 2026-03-26T09:21:58Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)
