Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot:release-v1.18.x] update konflux configuration
  .tekton/prow.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/prow.yaml
Due: none

[bot:main] update konflux configuration
  .tekton/prow.yaml
Due: none

[bot] Update main from tektoncd/pipeline to e34b540bfabee8c48973b6bf722a478d9542cb85
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/scorecard.yml
  upstream/go.mod
  upstream/go.sum
  upstream/releases.md
  upstream/tekton/publish.yaml
  upstream/vendor/github.com/google/cel-go/checker/cost.go
  upstream/vendor/golang.org/x/sync/errgroup/errgroup.go
  upstream/vendor/google.golang.org/protobuf/encoding/protojson/decode.go
  upstream/vendor/google.golang.org/protobuf/encoding/prototext/decode.go
  upstream/vendor/google.golang.org/protobuf/internal/encoding/tag/tag.go
  upstream/vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  upstream/vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  upstream/vendor/google.golang.org/protobuf/internal/filetype/build.go
  upstream/vendor/google.golang.org/protobuf/internal/flags/flags.go
  upstream/vendor/google.golang.org/protobuf/internal/genid/goname.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/codec_field.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/codec_message.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/codec_message_opaque.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/lazy.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/legacy_message.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/message.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/message_opaque.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/message_reflect.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/message_reflect_field.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/pointer_unsafe.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/validate.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/weak.go
  upstream/vendor/google.golang.org/protobuf/internal/version/version.go
  upstream/vendor/google.golang.org/protobuf/proto/decode.go
  upstream/vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  upstream/vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  upstream/vendor/google.golang.org/protobuf/reflect/protodesc/desc_resolve.go
  upstream/vendor/google.golang.org/protobuf/reflect/protodesc/desc_validate.go
  upstream/vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  upstream/vendor/google.golang.org/protobuf/reflect/protoreflect/type.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Delete .tekton/docker-build-ta.yaml
  .tekton/docker-build-ta.yaml
Due: tektoncd-pipeline-main-events-on-push

[1.18] Add FIPS compliance config
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:next] update konflux configuration
  .github/workflows/update-sources.next.yaml
  .konflux/next/application.yaml
  .konflux/next/component-controller.yaml
  .konflux/next/component-entrypoint.yaml
  .konflux/next/component-events.yaml
  .konflux/next/component-nop.yaml
  .konflux/next/component-resolvers.yaml
  .konflux/next/component-sidecarlogresults.yaml
  .konflux/next/component-webhook.yaml
  .konflux/next/component-workingdirinit.yaml
  .konflux/next/image-controller.yaml
  .konflux/next/image-entrypoint.yaml
  .konflux/next/image-events.yaml
  .konflux/next/image-nop.yaml
  .konflux/next/image-resolvers.yaml
  .konflux/next/image-sidecarlogresults.yaml
  .konflux/next/image-webhook.yaml
  .konflux/next/image-workingdirinit.yaml
  .konflux/next/tests.yaml
  .tekton/tektoncd-pipeline-next-controller-push.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-next-events-push.yaml
  .tekton/tektoncd-pipeline-next-nop-push.yaml
  .tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-next-webhook-push.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/update-sources.release-v1.18.x.yaml
  .konflux/1.18/application.yaml
  .konflux/1.18/component-controller.yaml
  .konflux/1.18/component-entrypoint.yaml
  .konflux/1.18/component-events.yaml
  .konflux/1.18/component-nop.yaml
  .konflux/1.18/component-resolvers.yaml
  .konflux/1.18/component-sidecarlogresults.yaml
  .konflux/1.18/component-webhook.yaml
  .konflux/1.18/component-workingdirinit.yaml
  .konflux/1.18/image-controller.yaml
  .konflux/1.18/image-entrypoint.yaml
  .konflux/1.18/image-events.yaml
  .konflux/1.18/image-nop.yaml
  .konflux/1.18/image-resolvers.yaml
  .konflux/1.18/image-sidecarlogresults.yaml
  .konflux/1.18/image-webhook.yaml
  .konflux/1.18/image-workingdirinit.yaml
  .konflux/1.18/tests.yaml
  .tekton/tektoncd-pipeline-1-18-controller-push.yaml
  .tekton/tektoncd-pipeline-1-18-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-18-events-push.yaml
  .tekton/tektoncd-pipeline-1-18-nop-push.yaml
  .tekton/tektoncd-pipeline-1-18-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-18-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-18-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-18-workingdirinit-push.yaml
Due: none

update rpms.lock.yaml to match with latest ec policy
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-pipeline-main-events-on-push

[bot:main] update konflux configuration
  .tekton/boussole.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/next/image-controller.yaml
  .konflux/next/image-entrypoint.yaml
  .konflux/next/image-events.yaml
  .konflux/next/image-nop.yaml
  .konflux/next/image-resolvers.yaml
  .konflux/next/image-sidecarlogresults.yaml
  .konflux/next/image-webhook.yaml
  .konflux/next/image-workingdirinit.yaml
  .tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-next-controller-push.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .tekton/tektoncd-pipeline-next-events-push.yaml
  .tekton/tektoncd-pipeline-next-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-next-nop-push.yaml
  .tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-next-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-next-webhook-push.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/1.18/image-controller.yaml
  .konflux/1.18/image-entrypoint.yaml
  .konflux/1.18/image-events.yaml
  .konflux/1.18/image-nop.yaml
  .konflux/1.18/image-resolvers.yaml
  .konflux/1.18/image-sidecarlogresults.yaml
  .konflux/1.18/image-webhook.yaml
  .konflux/1.18/image-workingdirinit.yaml
  .tekton/tektoncd-pipeline-1-18-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-controller-push.yaml
  .tekton/tektoncd-pipeline-1-18-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-18-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-events-push.yaml
  .tekton/tektoncd-pipeline-1-18-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-nop-push.yaml
  .tekton/tektoncd-pipeline-1-18-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-18-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-18-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-18-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-workingdirinit-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/update-sources.yaml
  .konflux/main/image-controller.yaml
  .konflux/main/image-entrypoint.yaml
  .konflux/main/image-events.yaml
  .konflux/main/image-nop.yaml
  .konflux/main/image-resolvers.yaml
  .konflux/main/image-sidecarlogresults.yaml
  .konflux/main/image-webhook.yaml
  .konflux/main/image-workingdirinit.yaml
  .tekton/tektoncd-pipeline-main-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-main-controller-push.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-main-events-pull-request.yaml
  .tekton/tektoncd-pipeline-main-events-push.yaml
  .tekton/tektoncd-pipeline-main-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-main-nop-push.yaml
  .tekton/tektoncd-pipeline-main-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-main-resolvers-push.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-main-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-main-webhook-push.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push
