Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 85285970366c90577454deca2feec5a8a4dd67df
  head
  upstream/.github/workflows/ci.yaml
  upstream/pkg/pipelinerunmetrics/metrics.go
  upstream/pkg/pipelinerunmetrics/metrics_test.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun_test.go
  upstream/pkg/taskrunmetrics/metrics.go
  upstream/pkg/taskrunmetrics/metrics_test.go
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.9.x to 85285970366c90577454deca2feec5a8a4dd67df
  head
  upstream/.github/workflows/ci.yaml
  upstream/pkg/pipelinerunmetrics/metrics.go
  upstream/pkg/pipelinerunmetrics/metrics_test.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun_test.go
  upstream/pkg/taskrunmetrics/metrics.go
  upstream/pkg/taskrunmetrics/metrics_test.go
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

rebuild: trigger image rebuild 2026-06-01T10:09:41Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-21-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-controller-push.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-21-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-events-push.yaml
  .tekton/tektoncd-pipeline-1-21-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-nop-push.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to daf477c6532160035f19ba3721f3119476cfe944
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.9.x to daf477c6532160035f19ba3721f3119476cfe944
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline:release-v1.13.x to 31e722655767d364a6ec07728ce7658743141fa1
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to daf477c6532160035f19ba3721f3119476cfe944
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to 68544236c6e06da5feb1029f29da6274d909ab0f
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.9.x to daf477c6532160035f19ba3721f3119476cfe944
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-nightly-controller
  .tekton/tektoncd-pipeline-nightly-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-nightly-entrypoint
  .tekton/tektoncd-pipeline-nightly-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-entrypoint-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-nightly-events
  .tekton/tektoncd-pipeline-nightly-events-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-nightly-nop
  .tekton/tektoncd-pipeline-nightly-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-nop-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-nightly-resolvers
  .tekton/tektoncd-pipeline-nightly-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-nightly-sidecarlogresults
  .tekton/tektoncd-pipeline-nightly-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-nightly-webhook
  .tekton/tektoncd-pipeline-nightly-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-nightly-workingdirinit
  .tekton/tektoncd-pipeline-nightly-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-workingdirinit-push.yaml
Due: none

[bot:nightly] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-nightly-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-controller-push.yaml
  .tekton/tektoncd-pipeline-nightly-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-nightly-events-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-events-push.yaml
  .tekton/tektoncd-pipeline-nightly-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-nop-push.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-push.yaml
  .tekton/tektoncd-pipeline-nightly-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-nightly-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-webhook-push.yaml
  .tekton/tektoncd-pipeline-nightly-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.22.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-22-controller-push.yaml
  .tekton/tektoncd-pipeline-1-22-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-22-events-push.yaml
  .tekton/tektoncd-pipeline-1-22-nop-push.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-22-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-22-workingdirinit-push.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-15-controller-push.yaml
  .tekton/tektoncd-pipeline-1-15-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-15-events-push.yaml
  .tekton/tektoncd-pipeline-1-15-nop-push.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-15-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-15-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-15-workingdirinit-push.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-20-controller-push.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-20-events-push.yaml
  .tekton/tektoncd-pipeline-1-20-nop-push.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-21-controller-push.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-21-events-push.yaml
  .tekton/tektoncd-pipeline-1-21-nop-push.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-push.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-23-controller-push.yaml
  .tekton/tektoncd-pipeline-1-23-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-23-events-push.yaml
  .tekton/tektoncd-pipeline-1-23-nop-push.yaml
  .tekton/tektoncd-pipeline-1-23-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-23-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-23-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-23-workingdirinit-push.yaml
Due: none
