Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update next from tektoncd/pipeline:release-v1.14.x to 8afd0f7d5aae3504267eb42bf342847911b7b4d1
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 0b947f8ebfa163107545f808d16e5f562b231feb
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.15.x from tektoncd/pipeline:release-v0.59.x to b08b965d883495bbc8c943cb49eb97fdea5d5f80
  upstream/.envrc.sample
  upstream/.gitattributes
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/ISSUE_TEMPLATE/promotion-request.md
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/slash.yml
  upstream/.github/workflows/woke.yml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.pre-commit-config.yaml
  upstream/.wokeignore
  upstream/.yamllint
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 79fea848d80117bee45c2bdf6cc7e04fd000b738
  head
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 0b947f8ebfa163107545f808d16e5f562b231feb
  upstream/.envrc.sample
  upstream/.gitattributes
  upstream/.github/ISSUE_TEMPLATE/bug-report.md
  upstream/.github/ISSUE_TEMPLATE/feature-request.md
  upstream/.github/ISSUE_TEMPLATE/free-form.md
  upstream/.github/ISSUE_TEMPLATE/promotion-request.md
  upstream/.github/dependabot.yml
  upstream/.github/pull_request_template.md
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/cherry-pick-command.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/labels.yaml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/slash.yml
  upstream/.github/workflows/woke.yml
  upstream/.gitignore
  upstream/.golangci.yml
  upstream/.ko.yaml
  upstream/.pre-commit-config.yaml
  upstream/.wokeignore
  upstream/.yamllint
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-21-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-controller-push.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-21-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-events-push.yaml
  .tekton/tektoncd-pipeline-1-21-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-nop-push.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to 3500246df8d3cc6eccee782c0ebdb2a4cb129273
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/cmd/controller/kodata/LICENSE
  upstream/cmd/entrypoint/kodata/LICENSE
  upstream/cmd/events/kodata/LICENSE
  upstream/cmd/nop/kodata/LICENSE
  upstream/cmd/resolvers/kodata/LICENSE
  upstream/cmd/webhook/kodata/LICENSE
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 7ce6b655b0a061a8bdca75d3d5e18b7140f90ea3
  head
  upstream/.github/workflows/nightly-builds.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to 3500246df8d3cc6eccee782c0ebdb2a4cb129273
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 7ce6b655b0a061a8bdca75d3d5e18b7140f90ea3
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update nightly from tektoncd/pipeline:main to 4f4ce2ddc1807f10a7d2396880035529f03cabd1
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/docs/hub-resolver.md
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/google/cel-go/cel/prompt.go
  upstream/vendor/google.golang.org/genproto/googleapis/api/annotations/client.pb.go
  upstream/vendor/google.golang.org/grpc/balancer/balancer.go
  upstream/vendor/google.golang.org/grpc/balancer/grpclb/grpc_lb_v1/load_balancer_grpc.pb.go
  upstream/vendor/google.golang.org/grpc/balancer/pickfirst/pickfirst.go
  upstream/vendor/google.golang.org/grpc/credentials/alts/alts.go
  upstream/vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/handshaker_grpc.pb.go
  upstream/vendor/google.golang.org/grpc/dialoptions.go
  upstream/vendor/google.golang.org/grpc/encoding/encoding.go
  upstream/vendor/google.golang.org/grpc/encoding/gzip/gzip.go
  upstream/vendor/google.golang.org/grpc/experimental/balancer/weight/weight.go
  upstream/vendor/google.golang.org/grpc/health/grpc_health_v1/health_grpc.pb.go
  upstream/vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  upstream/vendor/google.golang.org/grpc/internal/envconfig/xds.go
  upstream/vendor/google.golang.org/grpc/internal/grpcutil/encode_duration.go
  upstream/vendor/google.golang.org/grpc/internal/resolver/config_selector.go
  upstream/vendor/google.golang.org/grpc/internal/stats/labels.go
  upstream/vendor/google.golang.org/grpc/internal/transport/client_stream.go
  upstream/vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  upstream/vendor/google.golang.org/grpc/internal/transport/flowcontrol.go
  upstream/vendor/google.golang.org/grpc/internal/transport/handler_server.go
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_client.go
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_server.go
  upstream/vendor/google.golang.org/grpc/internal/transport/internal/internal.go
  upstream/vendor/google.golang.org/grpc/internal/transport/transport.go
  upstream/vendor/google.golang.org/grpc/rpc_util.go
  upstream/vendor/google.golang.org/grpc/server.go
  upstream/vendor/google.golang.org/grpc/version.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update nightly from tektoncd/pipeline:main to 83fa5681b70633e09f5e31cf47a1665244f5f389
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/AGENTS.md
  upstream/go.mod
  upstream/go.sum
  upstream/tekton/publish.yaml
  upstream/vendor/github.com/google/cel-go/cel/prompt.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request
