Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-18-controller
  .tekton/tektoncd-pipeline-1-18-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-18-resolvers
  .tekton/tektoncd-pipeline-1-18-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-18-entrypoint
  .tekton/tektoncd-pipeline-1-18-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-entrypoint-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-18-sidecarlogresults
  .tekton/tektoncd-pipeline-1-18-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-18-events
  .tekton/tektoncd-pipeline-1-18-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-18-webhook
  .tekton/tektoncd-pipeline-1-18-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-18-workingdirinit
  .tekton/tektoncd-pipeline-1-18-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-workingdirinit-push.yaml
Due: none

rebuild: trigger image rebuild 2026-05-07T06:15:25Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

rebuild: trigger image rebuild 2026-05-07T06:18:45Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.23.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:next] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

rebuild: trigger image rebuild 2026-05-07T08:24:24Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-18-nop
  .tekton/tektoncd-pipeline-1-18-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-nop-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-18-resolvers
  .tekton/tektoncd-pipeline-1-18-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-18-webhook
  .tekton/tektoncd-pipeline-1-18-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-webhook-push.yaml
Due: none

update rpmlocks
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.24.x from tektoncd/pipeline to 5a882817386c72d545a7448b0793a758c0eba6b1
  head
  upstream/pkg/apis/pipeline/v1/container_validation.go
  upstream/pkg/apis/pipeline/v1/container_validation_test.go
  upstream/pkg/apis/pipeline/v1beta1/task_validation.go
  upstream/pkg/apis/pipeline/v1beta1/task_validation_test.go
  upstream/pkg/remoteresolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resolver/git/repository.go
  upstream/pkg/resolution/resolver/git/repository_test.go
  upstream/pkg/resolution/resolver/git/resolver.go
  upstream/pkg/resolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resolver/http/config.go
  upstream/pkg/resolution/resolver/http/resolver.go
  upstream/pkg/resolution/resolver/http/resolver_test.go
  upstream/pkg/trustedresources/verify.go
  upstream/pkg/trustedresources/verify_regex_bypass_control_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline to 3c8c62bb728eedcb5c1d6eec503de236f9fb5c81
  head
  upstream/pkg/apis/pipeline/v1beta1/stepaction_types.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler_test.go
  upstream/pkg/remoteresolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resolver/framework/interface.go
  upstream/pkg/resolution/resolver/framework/reconciler.go
  upstream/pkg/resolution/resolver/framework/reconciler_test.go
  upstream/pkg/resolution/resolver/git/resolver_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.23.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.15.x from tektoncd/pipeline to b08b965d883495bbc8c943cb49eb97fdea5d5f80
  upstream/tools/go.mod
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

rebuild: trigger image rebuild 2026-05-08T07:04:16Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

rebuild: trigger image rebuild 2026-05-08T07:16:44Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

bump dockerfile base image SHA to latest
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push
