Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot:main] update konflux configuration
  .github/workflows/update-sources-next.yaml
Due: none

update golang version
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

check ubi fix
  .konflux/dockerfiles/resolvers.Dockerfile
Due: none

change golang version and add rpms
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

chore(deps): update sigs.k8s.io/json digest to cfa47c3
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/modules.txt
  upstream/vendor/sigs.k8s.io/json/Makefile
  upstream/vendor/sigs.k8s.io/json/OWNERS
  upstream/vendor/sigs.k8s.io/json/internal/golang/encoding/json/decode.go
  upstream/vendor/sigs.k8s.io/json/internal/golang/encoding/json/encode.go
  upstream/vendor/sigs.k8s.io/json/internal/golang/encoding/json/fold.go
  upstream/vendor/sigs.k8s.io/json/internal/golang/encoding/json/indent.go
  upstream/vendor/sigs.k8s.io/json/internal/golang/encoding/json/scanner.go
  upstream/vendor/sigs.k8s.io/json/internal/golang/encoding/json/stream.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

chore(deps): update k8s.io/gengo digest to ddb642e
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/k8s.io/gengo/args/args.go
  upstream/vendor/k8s.io/gengo/examples/deepcopy-gen/generators/deepcopy.go
  upstream/vendor/k8s.io/gengo/examples/defaulter-gen/generators/defaulter.go
  upstream/vendor/k8s.io/gengo/generator/import_tracker.go
  upstream/vendor/k8s.io/gengo/namer/import_tracker.go
  upstream/vendor/k8s.io/gengo/namer/namer.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

chore(deps): update mvdan.cc/unparam digest to 0df0534
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

fix(deps): update k8s.io/utils digest to 4c0f3b2
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/k8s.io/utils/buffer/ring_growing.go
  upstream/vendor/k8s.io/utils/clock/testing/fake_clock.go
  upstream/vendor/k8s.io/utils/integer/integer.go
  upstream/vendor/k8s.io/utils/net/multi_listen.go
  upstream/vendor/k8s.io/utils/trace/trace.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

fix(deps): update knative.dev/pkg digest to 19d3cc2
  upstream/go.mod
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

chore(deps): update module 4d63.com/gochecknoglobals to v0.2.2
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

chore(deps): update module dario.cat/mergo to v1.0.2
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/dario.cat/mergo/.gitignore
  upstream/vendor/dario.cat/mergo/FUNDING.json
  upstream/vendor/dario.cat/mergo/README.md
  upstream/vendor/dario.cat/mergo/SECURITY.md
  upstream/vendor/dario.cat/mergo/map.go
  upstream/vendor/dario.cat/mergo/merge.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

fix(deps): update k8s.io/utils digest to 4c0f3b2
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/k8s.io/utils/buffer/ring_growing.go
  upstream/vendor/k8s.io/utils/clock/testing/fake_clock.go
  upstream/vendor/k8s.io/utils/integer/integer.go
  upstream/vendor/k8s.io/utils/net/multi_listen.go
  upstream/vendor/k8s.io/utils/pointer/pointer.go
  upstream/vendor/k8s.io/utils/ptr/OWNERS
  upstream/vendor/k8s.io/utils/ptr/README.md
  upstream/vendor/k8s.io/utils/ptr/ptr.go
  upstream/vendor/k8s.io/utils/trace/trace.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request
