Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-nop-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/nop:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/nop.Dockerfile
  ...

tektoncd-pipeline-main-sidecarlogresults-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/sidecarlogresults:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

Delete .konflux/patches/001-fix-git-resolver-env.patch
  .konflux/patches/001-fix-git-resolver-env.patch
Due: tektoncd-pipeline-main-events-on-push

test experimental build pipeline 5
  .tekton/tektoncd-pipeline-next-controller-pull-request.yaml
Due: none

add upstream repo
  .tekton/tektoncd-pipeline-next-controller-pull-request.yaml
Due: none

[bot] Update next from tektoncd/pipeline to 9ba3a79e9aa31ad6c79a53f9539e0f572662ad8a
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/tektoncd/plumbing/.gitignore
  upstream/vendor/github.com/tektoncd/plumbing/CONTRIBUTING.md
  upstream/vendor/github.com/tektoncd/plumbing/DEVELOPMENT.md
  upstream/vendor/github.com/tektoncd/plumbing/OWNERS
  upstream/vendor/github.com/tektoncd/plumbing/cmd/combine/README.md
  upstream/vendor/github.com/tektoncd/plumbing/cmd/combine/main.go
  upstream/vendor/github.com/tektoncd/plumbing/scripts/README.md
  upstream/vendor/github.com/tektoncd/plumbing/scripts/deploy-release.sh
  upstream/vendor/github.com/tektoncd/plumbing/scripts/e2e-tests.sh
  upstream/vendor/github.com/tektoncd/plumbing/scripts/library.sh
  upstream/vendor/github.com/tektoncd/plumbing/scripts/verified-catalog-e2e-common.sh
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:next] update konflux configuration
  .tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .tekton/tektoncd-pipeline-next-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-next-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
Due: none

[bot] Update next from tektoncd/pipeline to 9ba3a79e9aa31ad6c79a53f9539e0f572662ad8a
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/tektoncd/plumbing/.gitignore
  upstream/vendor/github.com/tektoncd/plumbing/CONTRIBUTING.md
  upstream/vendor/github.com/tektoncd/plumbing/DEVELOPMENT.md
  upstream/vendor/github.com/tektoncd/plumbing/OWNERS
  upstream/vendor/github.com/tektoncd/plumbing/README.md
  upstream/vendor/github.com/tektoncd/plumbing/cmd/combine/README.md
  upstream/vendor/github.com/tektoncd/plumbing/cmd/combine/main.go
  upstream/vendor/github.com/tektoncd/plumbing/scripts/README.md
  upstream/vendor/github.com/tektoncd/plumbing/scripts/deploy-release.sh
  upstream/vendor/github.com/tektoncd/plumbing/scripts/e2e-tests.sh
  upstream/vendor/github.com/tektoncd/plumbing/scripts/library.sh
  upstream/vendor/github.com/tektoncd/plumbing/scripts/verified-catalog-e2e-common.sh
  upstream/vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  upstream/vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  upstream/vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  upstream/vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  upstream/vendor/google.golang.org/protobuf/internal/filedesc/presence.go
  upstream/vendor/google.golang.org/protobuf/internal/genid/api_gen.go
  upstream/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/codec_message_opaque.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/message_opaque.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/presence.go
  upstream/vendor/google.golang.org/protobuf/internal/version/version.go
  upstream/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  upstream/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-14-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-14-entrypoint
  .konflux/dockerfiles/entrypoint.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-14-events
  .konflux/dockerfiles/events.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-14-nop
  .konflux/dockerfiles/nop.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-14-resolvers
  .konflux/dockerfiles/resolvers.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-14-sidecarlogresults
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-14-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-14-workingdirinit
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-15-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-15-entrypoint
  .konflux/dockerfiles/entrypoint.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-15-events
  .konflux/dockerfiles/events.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-15-nop
  .konflux/dockerfiles/nop.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-15-resolvers
  .konflux/dockerfiles/resolvers.Dockerfile
Due: none

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)
