Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-nop-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/nop:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/nop.Dockerfile
  ...

tektoncd-pipeline-main-sidecarlogresults-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/sidecarlogresults:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

[bot] Update main from tektoncd/pipeline to 45b56ad3bbba0983ed2c1198a30a1d03059ac2fe
  head
  upstream/docs/install.md
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

.konflux/dockerfiles: update go builder image to 1.23
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot] Update main from tektoncd/pipeline to cdf03a64792b2e1df1d6b438d12ec4247140d327
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/scorecard.yml
  upstream/pkg/pod/pod.go
  upstream/pkg/pod/pod_test.go
  upstream/pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  upstream/pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  upstream/pkg/reconciler/taskrun/taskrun.go
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline to 4a58d0ea43062e3bb3dfa4c5373537cf7b996772
  head
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/slash.yml
  upstream/hack/setup-kind.sh
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] update konflux configuration
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi-new.repo
Due: tektoncd-pipeline-main-events-on-push

[bot] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .github/workflows/update-sources.next.yaml
Due: none

.github/workflows: remove auto-merge workflows
  .github/workflows/auto-merge.main.yaml
  .github/workflows/auto-merge.next.yaml
  .github/workflows/auto-merge.release-v1.17.x.yaml
Due: none

[bot] update konflux configuration
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-controller-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-events-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-nop-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-nop-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-sidecarlogresults-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-webhook-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-webhook-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
  .tekton/tektoncd-pipeline-main-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-main-controller-push.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-main-events-pull-request.yaml
  .tekton/tektoncd-pipeline-main-events-push.yaml
  .tekton/tektoncd-pipeline-main-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-main-nop-push.yaml
  .tekton/tektoncd-pipeline-main-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-main-resolvers-push.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-main-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-main-webhook-push.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:next] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .github/workflows/update-sources.next.yaml
  .github/workflows/update-sources.release-v1.17.x.yaml
  .tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-next-controller-push.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .tekton/tektoncd-pipeline-next-events-push.yaml
  .tekton/tektoncd-pipeline-next-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-next-nop-push.yaml
  .tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-next-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-next-webhook-push.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
Due: none

Delete docker-build-ta.yaml
  .tekton/docker-build-ta.yaml
Due: tektoncd-pipeline-main-events-on-push

Update docker file to club RUN statements
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

bump golang.org/x/net to v0.34.0
  .konflux/patches/0001-bump-golang.org-x-net-to-v0.34.0.patch
Due: tektoncd-pipeline-main-events-on-push

[bot] Update next from tektoncd/pipeline to 286089a11ee5daff9a5585c0e0dd5876b1e75828
  head
  upstream/pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  upstream/pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:main] update konflux configuration
  .konflux/main/tests.yaml
  .konflux/next/tests.yaml
Due: none

[bot] Update next from tektoncd/pipeline to 286089a11ee5daff9a5585c0e0dd5876b1e75828
  upstream/.pre-commit-config.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:main] update konflux configuration
  .konflux/main/tests-on-push.yaml
  .konflux/next/tests-on-push.yaml
Due: none

update dockerfile and remove unused files
  .github/workflows/auto-merge.main.yaml
  .github/workflows/auto-merge.next.yaml
  .github/workflows/auto-merge.release-v1.17.x.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .konflux/patches/0001-bump-golang.org-x-net-to-v0.34.0.patch
Due: tektoncd-pipeline-main-events-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources.1.18.yaml
  .konflux/1.18/application.yaml
  .konflux/1.18/component-controller.yaml
  .konflux/1.18/component-entrypoint.yaml
  .konflux/1.18/component-events.yaml
  .konflux/1.18/component-nop.yaml
  .konflux/1.18/component-resolvers.yaml
  .konflux/1.18/component-sidecarlogresults.yaml
  .konflux/1.18/component-webhook.yaml
  .konflux/1.18/component-workingdirinit.yaml
  .konflux/1.18/image-controller.yaml
  .konflux/1.18/image-entrypoint.yaml
  .konflux/1.18/image-events.yaml
  .konflux/1.18/image-nop.yaml
  .konflux/1.18/image-resolvers.yaml
  .konflux/1.18/image-sidecarlogresults.yaml
  .konflux/1.18/image-webhook.yaml
  .konflux/1.18/image-workingdirinit.yaml
  .konflux/1.18/tests.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-next-controller-push.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .tekton/tektoncd-pipeline-next-events-push.yaml
  .tekton/tektoncd-pipeline-next-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-next-nop-push.yaml
  .tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-next-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-next-webhook-push.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
Due: none

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)
