Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot] Update release-v1.24.x from tektoncd/pipeline:release-v1.15.x to 9471aff702c03ef4eca41107ef2f1d0892818539
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/scorecard.yml
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 839419ecd9f3103625b8c17557c5608d914ca47e
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update next from tektoncd/pipeline:release-v1.15.x to 9471aff702c03ef4eca41107ef2f1d0892818539
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/scorecard.yml
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.24.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-24-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-controller-push.yaml
  .tekton/tektoncd-pipeline-1-24-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-24-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-events-push.yaml
  .tekton/tektoncd-pipeline-1-24-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-nop-push.yaml
  .tekton/tektoncd-pipeline-1-24-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-24-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-24-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-24-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 540dda74b89b97a565007b3153995c63373d23a5
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to c59b083b6fdcd3e8ba9238c64765e24737144e7e
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:main] update konflux configuration
  .github/workflows/slack-notify-on-failure.yaml
Due: none

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to bfccf25a96d07bc7504a512d493b50c0754690f0
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update nightly from tektoncd/pipeline:main to d8443f23dc5c8bf545e9e2a58f0b8f296b58cffb
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/dependabot.config.yml
  upstream/.github/dependabot.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/scorecard.yml
  upstream/go.mod
  upstream/go.sum
  upstream/test/custom-task-ctrls/wait-task-beta/go.mod
  upstream/test/custom-task-ctrls/wait-task-beta/go.sum
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline:release-v1.15.x to 047626c5283720f5512a7a956b08e4026534ee84
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 2b4f370e4cec8d641cc2e27f8c0f8232ce003b1b
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.24.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:1.24] Pin head to tested snapshot SHA for 1.24.0
  head
Due: none

[bot:1.24] Pin head to tested upstream SHA for 1.24.0
  head
Due: none

Temporarliy Enable update-sources job in workflow
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.24.x from tektoncd/pipeline:release-v1.15.x to 047626c5283720f5512a7a956b08e4026534ee84
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Disable update-sources job during CodeFreeze
  .github/workflows/update-sources.yaml
Due: none

[bot:1.24] Sync upstream to tested SHA 6fbfd433a023
  upstream/.github/workflows/scorecard.yml
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.23.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push
