Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-nop-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/nop:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/nop.Dockerfile
  ...

tektoncd-pipeline-main-sidecarlogresults-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/sidecarlogresults:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

[next] fix ec
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
  .konflux/rpms/ubi.repo
Due: tektoncd-pipeline-main-events-on-push

Revert "fix(deps): update github.com/tektoncd/plumbing digest to 490be73"
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Update renovate.json
  renovate.json
Due: none

Red Hat Konflux purge tektoncd-pipeline-main-workingdirinit Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-main-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-push.yaml
Due: none

Red Hat Konflux purge tektoncd-pipeline-main-sidecarlogresults Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-main-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux purge tektoncd-pipeline-main-nop Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-main-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-main-nop-push.yaml
Due: none

Red Hat Konflux purge tektoncd-pipeline-main-webhook Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-main-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-main-webhook-push.yaml
Due: none

Red Hat Konflux purge tektoncd-pipeline-main-resolvers Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-main-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-main-resolvers-push.yaml
Due: none

Red Hat Konflux purge tektoncd-pipeline-main-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-main-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-main-controller-push.yaml
Due: none

Red Hat Konflux purge tektoncd-pipeline-main-entrypoint Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-main-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-push.yaml
Due: none

Red Hat Konflux purge tektoncd-pipeline-main-events Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-main-events-pull-request.yaml
  .tekton/tektoncd-pipeline-main-events-push.yaml
Due: tektoncd-pipeline-main-events-on-push

Revert "fix(deps): update github.com/google/go-containerregistry/pkg/authn/k8…"
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Revert "fix(deps): update module github.com/containerd/containerd to v1.7.26"
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Revert "fix(deps): update module github.com/go-jose/go-jose/v3 to v3.0.4"
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/go-jose/go-jose/v3/jwe.go
  upstream/vendor/github.com/go-jose/go-jose/v3/jws.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)
