Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-nop-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/nop:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/nop.Dockerfile
  ...

tektoncd-pipeline-main-sidecarlogresults-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/sidecarlogresults:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

[bot] Update main from tektoncd/pipeline to 76ab80309e01dada0f0be57ee5fda9fdb15e0fc6
  head
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/slash.yml
  upstream/pkg/apis/pipeline/v1/param_types.go
  upstream/pkg/apis/pipeline/v1beta1/param_types.go
  upstream/test/featureflags.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update main from tektoncd/pipeline to 0fc79e04e0d5a6185fc4053ce77f9a1471d79e07
  head
  upstream/.github/workflows/chatops_retest.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update main from tektoncd/pipeline to d306d649df2dbd2badaba6a90459efd05c753d2f
  head
  upstream/.github/workflows/chatops_retest.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] update konflux configuration
  .konflux/tekton/next/.tekton/docker-build-ta.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-controller-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-events-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-nop-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-nop-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-sidecarlogresults-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-webhook-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-webhook-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
  .tekton/tektoncd-pipeline-main-controller-push.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-main-events-pull-request.yaml
  .tekton/tektoncd-pipeline-main-events-push.yaml
  .tekton/tektoncd-pipeline-main-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-main-nop-push.yaml
  .tekton/tektoncd-pipeline-main-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-main-resolvers-push.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-main-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-main-webhook-push.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] update konflux configuration
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-controller-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-events-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-nop-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-nop-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-sidecarlogresults-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-webhook-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-webhook-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
  .tekton/tektoncd-pipeline-main-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-main-events-pull-request.yaml
  .tekton/tektoncd-pipeline-main-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-main-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-main-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-pull-request.yaml
Due: none

[bot] Update main from tektoncd/pipeline to 3bede800e0c75436a750945926021330302edee8
  head
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/e2e-matrix.yml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] update konflux configuration
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-controller-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-events-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-nop-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-webhook-push.yaml
  .konflux/tekton/next/.tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
  .tekton/tektoncd-pipeline-main-controller-push.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-main-events-push.yaml
  .tekton/tektoncd-pipeline-main-nop-push.yaml
  .tekton/tektoncd-pipeline-main-resolvers-push.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-main-webhook-push.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update main from tektoncd/pipeline to 5eaf013bb3b52bd20852ed60d472f7fef2b2fddb
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/scorecard.yml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] update konflux configuration
  .konflux/next/release-plan.yaml
Due: none

[bot] Update main from tektoncd/pipeline to 367cd2ac05992c254a9cbe97b910b145ccd83b3d
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/woke.yml
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .github/workflows/update-sources.next.yaml
Due: none

[bot] Update main from tektoncd/pipeline to c2c3085de6ad2019538f83c0b033d7e9c913be97
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/golang-jwt/jwt/v4/parser.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

.konflux/dockerfiles: update go builder image to 1.23
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot] Update main from tektoncd/pipeline to 1d36a660975e644ab06d6e95f1fe9bfc09ad32a6
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/scorecard.yml
  upstream/docs/README.md
  upstream/docs/tutorial.md
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update main from tektoncd/pipeline to 45b56ad3bbba0983ed2c1198a30a1d03059ac2fe
  head
  upstream/docs/install.md
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)
