Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot] Update next from tektoncd/pipeline:release-v1.16.x to 63c28f04184a855dc9af5b501ac22fce289692dc
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to dc4590859eaa1a4ce619e21a66be067bb2d718fe
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/labels.yaml
  upstream/tekton/publish.yaml
  upstream/tekton/release-pipeline.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.23.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-23-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-controller-push.yaml
  .tekton/tektoncd-pipeline-1-23-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-23-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-events-push.yaml
  .tekton/tektoncd-pipeline-1-23-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-nop-push.yaml
  .tekton/tektoncd-pipeline-1-23-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-23-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-23-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-23-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

fix(cve): patch grpc-go to v1.79.3 via .konflux/patches
  .konflux/patches/fix-CVE-2026-33186-grpc-go.patch
Due: tektoncd-pipeline-main-events-on-push

fix(build): run patch loop as root in konflux Dockerfiles
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

chore: update resolvers dockerfile update commands
  .konflux/dockerfiles/resolvers.Dockerfile
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to ad0e135708e90998fa1ff6c4854491320cd8be55
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/go.mod
  upstream/go.sum
  upstream/test/custom-task-ctrls/wait-task-beta/go.mod
  upstream/test/custom-task-ctrls/wait-task-beta/go.sum
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to ad0e135708e90998fa1ff6c4854491320cd8be55
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to dd9679eb293ed6025e86701319d10c8334d9c5f1
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/woke.yml
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to a5b23784841e32f1e48f3a5b5716f1c0bef2e9cd
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/labels.yaml
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

rebuild: trigger image rebuild 2026-10-06T04:26:57Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 5a18f0d1793252583dd1bcaee74a40eb1339cbd9
  head
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-21-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-controller-push.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-21-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-events-push.yaml
  .tekton/tektoncd-pipeline-1-21-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-nop-push.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:next] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-next-controller-push.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-next-events-push.yaml
  .tekton/tektoncd-pipeline-next-nop-push.yaml
  .tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-next-webhook-push.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-20-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-controller-push.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-20-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-events-push.yaml
  .tekton/tektoncd-pipeline-1-20-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-nop-push.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-22-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-controller-push.yaml
  .tekton/tektoncd-pipeline-1-22-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-22-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-events-push.yaml
  .tekton/tektoncd-pipeline-1-22-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-nop-push.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-22-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-22-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.24.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-24-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-controller-push.yaml
  .tekton/tektoncd-pipeline-1-24-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-24-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-events-push.yaml
  .tekton/tektoncd-pipeline-1-24-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-nop-push.yaml
  .tekton/tektoncd-pipeline-1-24-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-24-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-24-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-24-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-15-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-controller-push.yaml
  .tekton/tektoncd-pipeline-1-15-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-15-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-events-push.yaml
  .tekton/tektoncd-pipeline-1-15-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-nop-push.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-15-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-15-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-15-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push
