Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-nop-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/nop:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/nop.Dockerfile
  ...

tektoncd-pipeline-main-sidecarlogresults-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/sidecarlogresults:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

[bot:nightly] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

One Click Release: build all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to 910a3c219f7e1c1e917f9c515ec71d9bcce1aa43
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun_test.go
  upstream/pkg/reconciler/taskrun/taskrun.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline:release-v1.14.x to aa28e09810a679c1282095ae604afb1f5488e162
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 1db9d78326dc5607c87f035d00dd0cb89859ee4c
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/pkg/reconciler/resolutionrequest/controller.go
  upstream/pkg/reconciler/resolutionrequest/resolutionrequest.go
  upstream/pkg/reconciler/resolutionrequest/resolutionrequest_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 42b4659ace9ec510f35c0152797b0d0e2628b0b5
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/pkg/reconciler/resolutionrequest/controller.go
  upstream/pkg/reconciler/resolutionrequest/resolutionrequest.go
  upstream/pkg/reconciler/resolutionrequest/resolutionrequest_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 5b2fe9a2617e33ba98474c3f03570f3a61de6468
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/nightly-builds.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to c59b083b6fdcd3e8ba9238c64765e24737144e7e
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/scorecard.yml
  upstream/pkg/reconciler/resolutionrequest/controller.go
  upstream/pkg/reconciler/resolutionrequest/resolutionrequest.go
  upstream/pkg/reconciler/resolutionrequest/resolutionrequest_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 37cfce1135bbe5430136b22751f84d35a591ae5a
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/scorecard.yml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-22-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-controller-push.yaml
  .tekton/tektoncd-pipeline-1-22-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-22-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-events-push.yaml
  .tekton/tektoncd-pipeline-1-22-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-nop-push.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-22-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-22-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)
