Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:main] update konflux configuration
  .github/renovate.json
  .github/workflows/auto-merge-upstream-release-v1.16.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.17.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.19.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.20.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.21.x.yaml
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources-next.yaml
  .github/workflows/update-sources-release-v1.16.x.yaml
  .github/workflows/update-sources-release-v1.17.x.yaml
  .github/workflows/update-sources-release-v1.19.x.yaml
  .github/workflows/update-sources-release-v1.20.x.yaml
  .github/workflows/update-sources-release-v1.21.x.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.14.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .tekton/tektoncd-pipeline-1-14-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-14-controller-push.yaml
  .tekton/tektoncd-pipeline-1-14-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-14-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-14-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-14-events-push.yaml
  .tekton/tektoncd-pipeline-1-14-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-14-nop-push.yaml
  .tekton/tektoncd-pipeline-1-14-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-14-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-14-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-14-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-14-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-14-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-14-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-14-workingdirinit-push.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

Add files via upload
  .konflux/patches/pr-9211.patch
Due: tektoncd-pipeline-main-events-on-push

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.20.x.yaml
  .github/workflows/update-sources-release-v1.20.x.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.21.x.yaml
  .github/workflows/update-sources-release-v1.21.x.yaml
Due: none

[bot] Update release-v1.21.x from tektoncd/pipeline to b69b57da43d37038b1447b346ad96a88b29d3ccb
  head
  upstream/examples/v1/pipelineruns/alpha/consume-artifacts-from-task.yaml
  upstream/examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
  upstream/examples/v1/pipelineruns/no-ci/pipelinerun-with-matrix.yaml
  upstream/examples/v1/pipelineruns/no-ci/using-retries-and-retry-count-variables.yaml
  upstream/examples/v1/pipelineruns/pipelinerun-with-task-timeout-override.yaml
  upstream/examples/v1/taskruns/alpha/stepaction-when.yaml
  upstream/examples/v1/taskruns/alpha/task-artifacts.yaml
  upstream/examples/v1/taskruns/authenticating-git-commands.yaml
  upstream/examples/v1/taskruns/beta/authenticating-git-commands.yaml
  upstream/examples/v1/taskruns/dind-sidecar.yaml
  upstream/examples/v1/taskruns/step-by-digest.yaml
  upstream/pkg/apis/pipeline/v1beta1/pipeline_validation.go
  upstream/pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
  upstream/test/e2e-tests.sh
  upstream/test/examples_test.go
  upstream/test/git-resolver/gitea.yaml
  upstream/test/multiarch_utils.go
  upstream/test/step_output_test.go
  upstream/test/tektonbundles_test.go
  upstream/test/trustedresources_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline to 9d0f1c8f6f7ffea5d08108a34355d1dc6d6add26
  head
  upstream/.github/workflows/e2e-matrix.yml
  upstream/examples/v1/pipelineruns/alpha/consume-artifacts-from-task.yaml
  upstream/examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
  upstream/examples/v1/pipelineruns/no-ci/pipelinerun-with-matrix.yaml
  upstream/examples/v1/pipelineruns/no-ci/using-retries-and-retry-count-variables.yaml
  upstream/examples/v1/taskruns/alpha/stepaction-when.yaml
  upstream/examples/v1/taskruns/alpha/task-artifacts.yaml
  upstream/examples/v1/taskruns/authenticating-git-commands.yaml
  upstream/examples/v1/taskruns/beta/authenticating-git-commands.yaml
  upstream/examples/v1/taskruns/dind-sidecar.yaml
  upstream/examples/v1/taskruns/step-by-digest.yaml
  upstream/test/custom_task_test.go
  upstream/test/e2e-common.sh
  upstream/test/e2e-tests-kind-alpha.env
  upstream/test/e2e-tests-kind-beta.env
  upstream/test/e2e-tests-kind-stable.env
  upstream/test/e2e-tests.sh
  upstream/test/examples_test.go
  upstream/test/git-resolver/gitea.yaml
  upstream/test/larger_results_sidecar_logs_test.go
  upstream/test/matrix_test.go
  upstream/test/multiarch_utils.go
  upstream/test/pipelinefinally_test.go
  upstream/test/propagated_results_test.go
  upstream/test/step_output_test.go
  upstream/test/stepaction_results_test.go
  upstream/test/tektonbundles_test.go
  upstream/test/trustedresources_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.20.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.21.x.yaml
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources-release-v1.20.x.yaml
  .github/workflows/update-sources-release-v1.21.x.yaml
  .github/workflows/update-sources.yaml
Due: none
