Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 6ba30f8272fa32abd2c777b904cc151c61b02a4e
  head
  upstream/go.mod
  upstream/go.sum
  upstream/test/custom-task-ctrls/wait-task-beta/go.mod
  upstream/test/custom-task-ctrls/wait-task-beta/go.sum
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to d03cc6d1f414310f5de11bbcda50dcf464265396
  head
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-22-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-controller-push.yaml
  .tekton/tektoncd-pipeline-1-22-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-22-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-events-push.yaml
  .tekton/tektoncd-pipeline-1-22-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-nop-push.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-22-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-22-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to fb18736c5c0b6cb786f17ac58b54f3694140599a
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/go.mod
  upstream/go.sum
  upstream/tekton/publish.yaml
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to f53bb0243a110d0e8cd53bc3b746c65422e522ae
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/tekton/publish.yaml
  upstream/test/custom-task-ctrls/wait-task-beta/go.mod
  upstream/test/resolver-with-timeout/go.mod
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to c56834ba0162dcfbae6470fe59274576fd904e10
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 63e2c7032691102ab32c15f6f784674859a23549
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline:release-v1.13.x to e32fe4d00076efcaf58a124bc5fb3ea06fa761aa
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to f53bb0243a110d0e8cd53bc3b746c65422e522ae
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-24-controller
  .tekton/tektoncd-pipeline-1-24-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-24-entrypoint
  .tekton/tektoncd-pipeline-1-24-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-entrypoint-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-24-sidecarlogresults
  .tekton/tektoncd-pipeline-1-24-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-24-workingdirinit
  .tekton/tektoncd-pipeline-1-24-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-workingdirinit-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-24-events
  .tekton/tektoncd-pipeline-1-24-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-24-resolvers
  .tekton/tektoncd-pipeline-1-24-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-24-webhook
  .tekton/tektoncd-pipeline-1-24-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-24-nop
  .tekton/tektoncd-pipeline-1-24-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-nop-push.yaml
Due: none

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to b54dcda0d16d988eac811c9869b7440e7cd5bd4f
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/go.mod
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 7c4eb3ca893da521064d8dcac12fe6d817b858a3
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 03e3bae27bc260304e3887752ed0422a82fae543
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

chore: force trigger all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push
