Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-nop-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/nop:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/nop.Dockerfile
  ...

tektoncd-pipeline-main-sidecarlogresults-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/sidecarlogresults:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-20-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-controller-push.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-20-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-events-push.yaml
  .tekton/tektoncd-pipeline-1-20-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-nop-push.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:next] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-15-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-controller-push.yaml
  .tekton/tektoncd-pipeline-1-15-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-15-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-events-push.yaml
  .tekton/tektoncd-pipeline-1-15-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-nop-push.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-15-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-15-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-15-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.21.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-21-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-controller-push.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-21-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-events-push.yaml
  .tekton/tektoncd-pipeline-1-21-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-nop-push.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-push.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.22.x from tektoncd/pipeline to 3e729e08be6a9b4196d76921d2a9b44f167bebbd
  head
  upstream/.github/workflows/ci.yaml
  upstream/docs/pipeline-api.md
  upstream/go.mod
  upstream/go.sum
  upstream/hack/reference-docs-gen-config.json
  upstream/hack/update-codegen.sh
  upstream/pkg/resolution/resolver/git/repository.go
  upstream/pkg/resolution/resolver/git/repository_test.go
  upstream/pkg/resolution/resolver/git/resolver.go
  upstream/pkg/resolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resource/name.go
  upstream/pkg/resolution/resource/name_test.go
  upstream/tekton/release-pipeline.yaml
  upstream/test/resolvers_test.go
  upstream/vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-20-resolvers
  .tekton/tektoncd-pipeline-1-20-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-20-sidecarlogresults
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-20-controller
  .tekton/tektoncd-pipeline-1-20-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-20-webhook
  .tekton/tektoncd-pipeline-1-20-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-20-entrypoint
  .tekton/tektoncd-pipeline-1-20-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-20-nop
  .tekton/tektoncd-pipeline-1-20-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-nop-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-20-events
  .tekton/tektoncd-pipeline-1-20-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-20-workingdirinit
  .tekton/tektoncd-pipeline-1-20-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-push.yaml
Due: none

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)
