Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

chore: retrigger events + nop on-push builds
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot] Update release-v1.22.x from tektoncd/pipeline to e3bd070ad0247269ee17523988db49ec0b14029b
  head
  upstream/tekton/release-pipeline.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline to cc0a734c811d8b5759dafe7d856e1877de10db6e
  head
  upstream/tekton/release-pipeline.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Revert "Update nop.Dockerfile for fips"
  .konflux/dockerfiles/nop.Dockerfile
Due: none

[bot] Update release-v1.20.x from tektoncd/pipeline to e44aed22f19f2b4030ce4ba3ea48d4cd3a51576b
  head
  upstream/.github/workflows/ci.yaml
  upstream/tekton/release-pipeline.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline to a62d804634d2dffe93d181c096fa395dc0e3d4dd
  head
  upstream/pkg/apis/pipeline/v1beta1/pipeline_validation.go
  upstream/pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.21.x] Update Dockerfile CPE labels and base images
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-14-sidecarlogresults
  .tekton/tektoncd-pipeline-1-14-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-14-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-14-events
  .tekton/tektoncd-pipeline-1-14-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-14-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-14-resolvers
  .tekton/tektoncd-pipeline-1-14-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-14-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-14-controller
  .tekton/tektoncd-pipeline-1-14-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-14-controller-push.yaml
Due: none

[bot] Update release-v1.20.x from tektoncd/pipeline to 3f3e5497e72862d4ae89c117bed1da4ebf50b320
  head
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.ko.yaml
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun_test.go
  upstream/pkg/reconciler/taskrun/taskrun.go
  upstream/pkg/reconciler/taskrun/taskrun_test.go
  upstream/tekton/README.md
  upstream/tekton/publish.yaml
  upstream/tekton/release-cheat-sheet.md
  upstream/tekton/release-pipeline.yaml
  upstream/test/excessive_reconciliation_test.go
  upstream/test/presubmit-tests.sh
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-next-controller
  .tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-next-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-next-workingdirinit
  .tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-next-entrypoint
  .tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-next-resolvers
  .tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-next-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-18-entrypoint
  .tekton/tektoncd-pipeline-1-18-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-entrypoint-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-18-events
  .tekton/tektoncd-pipeline-1-18-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-18-nop
  .tekton/tektoncd-pipeline-1-18-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-nop-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-18-resolvers
  .tekton/tektoncd-pipeline-1-18-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-18-sidecarlogresults
  .tekton/tektoncd-pipeline-1-18-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-18-webhook
  .tekton/tektoncd-pipeline-1-18-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-18-workingdirinit
  .tekton/tektoncd-pipeline-1-18-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-workingdirinit-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-18-controller
  .tekton/tektoncd-pipeline-1-18-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-18-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-next-events
  .tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .tekton/tektoncd-pipeline-next-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-next-nop
  .tekton/tektoncd-pipeline-next-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-next-nop-push.yaml
Due: none
