Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-nop-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/nop:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/nop.Dockerfile
  ...

tektoncd-pipeline-main-sidecarlogresults-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/sidecarlogresults:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-24-controller
  .tekton/tektoncd-pipeline-1-24-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-24-events
  .tekton/tektoncd-pipeline-1-24-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-24-resolvers
  .tekton/tektoncd-pipeline-1-24-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-24-sidecarlogresults
  .tekton/tektoncd-pipeline-1-24-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-24-webhook
  .tekton/tektoncd-pipeline-1-24-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-24-entrypoint
  .tekton/tektoncd-pipeline-1-24-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-entrypoint-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-24-nop
  .tekton/tektoncd-pipeline-1-24-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-nop-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-24-workingdirinit
  .tekton/tektoncd-pipeline-1-24-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-workingdirinit-push.yaml
Due: none

[bot:release-v1.24.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-24-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-controller-push.yaml
  .tekton/tektoncd-pipeline-1-24-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-24-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-events-push.yaml
  .tekton/tektoncd-pipeline-1-24-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-nop-push.yaml
  .tekton/tektoncd-pipeline-1-24-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-24-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-24-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-24-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-24-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.20.x from tektoncd/pipeline to f457c91c3447049794008a43349c4f9152770953
  head
  upstream/pkg/pipelinerunmetrics/metrics.go
  upstream/pkg/pipelinerunmetrics/metrics_test.go
  upstream/pkg/taskrunmetrics/metrics.go
  upstream/pkg/taskrunmetrics/metrics_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline to 3826751c7f0433e5dda8f94ffb9aba2b82688289
  head
  upstream/pkg/apis/pipeline/v1/container_validation.go
  upstream/pkg/apis/pipeline/v1/container_validation_test.go
  upstream/pkg/apis/pipeline/v1beta1/task_validation.go
  upstream/pkg/apis/pipeline/v1beta1/task_validation_test.go
  upstream/pkg/remoteresolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resolver/git/repository.go
  upstream/pkg/resolution/resolver/git/repository_test.go
  upstream/pkg/resolution/resolver/git/resolver.go
  upstream/pkg/resolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resolver/http/config.go
  upstream/pkg/resolution/resolver/http/resolver.go
  upstream/pkg/resolution/resolver/http/resolver_test.go
  upstream/pkg/trustedresources/verify.go
  upstream/pkg/trustedresources/verify_regex_bypass_control_test.go
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:next] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.24.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:main] update konflux configuration
  .github/renovate.json
Due: none

Cleanup automerge workflows
  .github/workflows/auto-merge-release-v1.17.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.16.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.17.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.20.x.yaml
  .github/workflows/update-sources-release-v1.14.x.yaml
  .github/workflows/update-sources-release-v1.15.x.yaml
  .github/workflows/update-sources-release-v1.16.x.yaml
  .github/workflows/update-sources-release-v1.17.x.yaml
  .github/workflows/update-sources-release-v1.18.x.yaml
  .github/workflows/update-sources-release-v1.20.x.yaml
  .github/workflows/update-sources-release-v1.21.x.yaml
Due: none

Cleanup older workflows
  .github/workflows/auto-merge.main.yaml
  .github/workflows/auto-merge.next.yaml
  .github/workflows/auto-merge.release-v1.17.x.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-23-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-controller-push.yaml
  .tekton/tektoncd-pipeline-1-23-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-23-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-events-push.yaml
  .tekton/tektoncd-pipeline-1-23-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-nop-push.yaml
  .tekton/tektoncd-pipeline-1-23-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-23-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-23-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-23-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-20-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-controller-push.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-20-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-events-push.yaml
  .tekton/tektoncd-pipeline-1-20-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-nop-push.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)
