Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

update rpms lock
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.22.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-22-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-push.yaml
Due: none

Add REBUILD placeholder to patches directory
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.20.x] Update Dockerfile CPE labels and base images
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

Update RPM lock file with resolvers.Dockerfile base image
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

chore: bump version labels to 1.15.4 in all Dockerfiles
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot] Update next from tektoncd/pipeline to 11f5bb23699247f9b5b9f55aab0804d78cd2ffd4
  head
  upstream/examples/v1/pipelineruns/using_context_variables.yaml
  upstream/pkg/reconciler/pipelinerun/pipelinerun_test.go
  upstream/pkg/reconciler/pipelinerun/resources/apply.go
  upstream/pkg/reconciler/pipelinerun/resources/apply_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.22.x from tektoncd/pipeline to 11f5bb23699247f9b5b9f55aab0804d78cd2ffd4
  head
  upstream/examples/v1/pipelineruns/using_context_variables.yaml
  upstream/pkg/reconciler/pipelinerun/pipelinerun_test.go
  upstream/pkg/reconciler/pipelinerun/resources/apply.go
  upstream/pkg/reconciler/pipelinerun/resources/apply_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

chore: trigger rebuild 2026-02-14
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

fix(cve): update ubi8 base image to fix CVE-2025-59375
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push
