Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.15.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.20.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.22.x from tektoncd/pipeline to 52a824a1a459db1461390074ce2f1ac438aa3c32
  head
  upstream/.github/workflows/ci.yaml
  upstream/docs/pipeline-api.md
  upstream/go.mod
  upstream/go.sum
  upstream/hack/reference-docs-gen-config.json
  upstream/hack/update-codegen.sh
  upstream/pkg/remoteresolution/resolver/bundle/resolver.go
  upstream/pkg/remoteresolution/resolver/cluster/resolver.go
  upstream/pkg/remoteresolution/resolver/cluster/resolver_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/cache.go
  upstream/pkg/remoteresolution/resolver/framework/cache/cache_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/configstore.go
  upstream/pkg/remoteresolution/resolver/framework/cache/configstore_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/operations.go
  upstream/pkg/remoteresolution/resolver/framework/cache/operations_test.go
  upstream/pkg/remoteresolution/resolver/framework/cache/setup_test.go
  upstream/pkg/remoteresolution/resolver/git/resolver.go
  upstream/pkg/resolution/resolver/git/repository.go
  upstream/pkg/resolution/resolver/git/repository_test.go
  upstream/pkg/resolution/resolver/git/resolver.go
  upstream/pkg/resolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resource/name.go
  upstream/pkg/resolution/resource/name_test.go
  upstream/tekton/release-pipeline.yaml
  upstream/test/README.md
  upstream/test/init_test.go
  upstream/test/registry_test.go
  upstream/test/resolver_cache_test.go
  upstream/test/resolvers_test.go
  upstream/vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:next] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

rebuild: trigger image rebuild 2026-03-30T05:47:21Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.21.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

rebuild: trigger image rebuild 2026-03-31T10:04:51Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

Remove dockerfile from enabledManagers
  renovate.json
Due: none

[bot] Update release-v1.20.x from tektoncd/pipeline to dae22ae8399a8cc521b40cd4e306eaeac9e13acb
  head
  upstream/docs/pipeline-api.md
  upstream/go.mod
  upstream/go.sum
  upstream/hack/reference-docs-gen-config.json
  upstream/hack/update-codegen.sh
  upstream/vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline to 87f060d03f1feeac644ecaacc56d8975ed4ae315
  head
  upstream/tekton/release-pipeline.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline to ec20509a83df042bbdc22bc63a942286d6954837
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/google.golang.org/grpc/attributes/attributes.go
  upstream/vendor/google.golang.org/grpc/balancer/balancer.go
  upstream/vendor/google.golang.org/grpc/balancer/base/balancer.go
  upstream/vendor/google.golang.org/grpc/balancer/endpointsharding/endpointsharding.go
  upstream/vendor/google.golang.org/grpc/balancer/grpclb/grpc_lb_v1/load_balancer.pb.go
  upstream/vendor/google.golang.org/grpc/balancer/grpclb/grpc_lb_v1/load_balancer_grpc.pb.go
  upstream/vendor/google.golang.org/grpc/balancer/pickfirst/pickfirst.go
  upstream/vendor/google.golang.org/grpc/binarylog/grpc_binarylog_v1/binarylog.pb.go
  upstream/vendor/google.golang.org/grpc/credentials/alts/internal/conn/record.go
  upstream/vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/altscontext.pb.go
  upstream/vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/handshaker.pb.go
  upstream/vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/handshaker_grpc.pb.go
  upstream/vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/transport_security_common.pb.go
  upstream/vendor/google.golang.org/grpc/credentials/tls.go
  upstream/vendor/google.golang.org/grpc/dialoptions.go
  upstream/vendor/google.golang.org/grpc/health/grpc_health_v1/health.pb.go
  upstream/vendor/google.golang.org/grpc/health/grpc_health_v1/health_grpc.pb.go
  upstream/vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  upstream/vendor/google.golang.org/grpc/internal/mem/buffer_pool.go
  upstream/vendor/google.golang.org/grpc/internal/transport/defaults.go
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_client.go
  upstream/vendor/google.golang.org/grpc/internal/transport/http2_server.go
  upstream/vendor/google.golang.org/grpc/mem/buffer_pool.go
  upstream/vendor/google.golang.org/grpc/picker_wrapper.go
  upstream/vendor/google.golang.org/grpc/resolver/map.go
  upstream/vendor/google.golang.org/grpc/rpc_util.go
  upstream/vendor/google.golang.org/grpc/server.go
  upstream/vendor/google.golang.org/grpc/version.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.20.x from tektoncd/pipeline to 5e3f5af0ec3475362ab2c445a78160c4fea6e4c6
  head
  upstream/go.mod
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:main] update konflux configuration
  .github/renovate.json
Due: none
