Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-nop-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/nop:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/nop.Dockerfile
  ...

tektoncd-pipeline-main-sidecarlogresults-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/sidecarlogresults:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 7ce6b655b0a061a8bdca75d3d5e18b7140f90ea3
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update next from tektoncd/pipeline:release-v1.14.x to aa28e09810a679c1282095ae604afb1f5488e162
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 0b947f8ebfa163107545f808d16e5f562b231feb
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to 3500246df8d3cc6eccee782c0ebdb2a4cb129273
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update nightly from tektoncd/pipeline:main to 0a301ebc84a101f86241b1c10c9a42b860ab20b4
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

One Click Release: build all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot] Update nightly from tektoncd/pipeline:main to 6ebe2ddd664cbc4e928453e997eaf100e67393b6
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependabot-regen.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/zizmor.yaml
  upstream/test/custom-task-ctrls/wait-task-beta/go.mod
  upstream/test/custom-task-ctrls/wait-task-beta/go.sum
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to 314d548d64df9b7dcf9c42a3f85f4b721a4035f2
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/pkg/apis/resolution/v1beta1/resolution_request_lifecycle.go
  upstream/pkg/apis/resolution/v1beta1/resolution_request_lifecycle_test.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun_test.go
  upstream/pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  upstream/pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  upstream/pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
  upstream/pkg/reconciler/resolutionrequest/resolutionrequest.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler_test.go
  upstream/pkg/resolution/resolver/framework/reconciler.go
  upstream/pkg/resolution/resolver/framework/reconciler_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update nightly from tektoncd/pipeline:main to 423350b8f4ae6201340673799306ca3203bfedde
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/go.mod
  upstream/go.sum
  upstream/pkg/remoteresolution/resolver/framework/reconciler.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler_test.go
  upstream/pkg/resolution/resolver/framework/reconciler.go
  upstream/pkg/resolution/resolver/framework/reconciler_test.go
  upstream/test/custom-task-ctrls/wait-task-beta/go.mod
  upstream/test/custom-task-ctrls/wait-task-beta/go.sum
  upstream/test/resolver_cache_test.go
  upstream/vendor/golang.org/x/net/http2/transport_wrap.go
  upstream/vendor/golang.org/x/net/idna/idna.go
  upstream/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
  upstream/vendor/modules.txt
  upstream/vendor/sigs.k8s.io/structured-merge-diff/v6/typed/remove.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 57b3c057f2e215ecf4e53cd3bd6403cdf5602396
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/go.mod
  upstream/go.sum
  upstream/pkg/apis/resolution/v1beta1/resolution_request_lifecycle.go
  upstream/pkg/apis/resolution/v1beta1/resolution_request_lifecycle_test.go
  upstream/pkg/reconciler/resolutionrequest/resolutionrequest.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler_test.go
  upstream/pkg/resolution/resolver/framework/reconciler.go
  upstream/pkg/resolution/resolver/framework/reconciler_test.go
  upstream/test/custom-task-ctrls/wait-task-beta/go.mod
  upstream/test/custom-task-ctrls/wait-task-beta/go.sum
  upstream/vendor/google.golang.org/protobuf/encoding/protodelim/protodelim.go
  upstream/vendor/google.golang.org/protobuf/encoding/protojson/decode.go
  upstream/vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  upstream/vendor/google.golang.org/protobuf/encoding/prototext/decode.go
  upstream/vendor/google.golang.org/protobuf/internal/descfmt/stringer.go
  upstream/vendor/google.golang.org/protobuf/internal/version/version.go
  upstream/vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  upstream/vendor/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to a51c5c43dbd3e8aa3e4fa32923ad9d20def3aa25
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/pkg/apis/resolution/v1beta1/resolution_request_lifecycle.go
  upstream/pkg/apis/resolution/v1beta1/resolution_request_lifecycle_test.go
  upstream/pkg/reconciler/resolutionrequest/resolutionrequest.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler_test.go
  upstream/pkg/resolution/resolver/framework/reconciler.go
  upstream/pkg/resolution/resolver/framework/reconciler_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to d47d6e15a8c3581dbb712f1aa3d4209f801cd35d
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun_test.go
  upstream/pkg/reconciler/taskrun/taskrun.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler_test.go
  upstream/pkg/resolution/resolver/framework/reconciler.go
  upstream/pkg/resolution/resolver/framework/reconciler_test.go
  upstream/test/resolver_cache_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to f058782587f014daf4039a118fdd8279287fc395
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun_test.go
  upstream/pkg/reconciler/taskrun/taskrun.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler_test.go
  upstream/pkg/resolution/resolver/framework/reconciler.go
  upstream/pkg/resolution/resolver/framework/reconciler_test.go
  upstream/test/resolver_cache_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update nightly from tektoncd/pipeline:main to 68dd567aed5c3715e2ed75ff755318d51e6f66bd
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/nightly-builds.yaml
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun_test.go
  upstream/pkg/reconciler/taskrun/taskrun.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to 19b570e51245a609ef802659ab0a92841c47c05f
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/pkg/remoteresolution/resolver/framework/reconciler.go
  upstream/pkg/remoteresolution/resolver/framework/reconciler_test.go
  upstream/pkg/resolution/resolver/framework/reconciler.go
  upstream/pkg/resolution/resolver/framework/reconciler_test.go
  upstream/test/resolver_cache_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:next] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:nightly] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)
