Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

One Click Release: build all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to c59b083b6fdcd3e8ba9238c64765e24737144e7e
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update nightly from tektoncd/pipeline:main to c3b44b91c5b814421388a3e0850c9c15b2a08142
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/scorecard.yml
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/google/go-containerregistry/pkg/v1/mutate/mutate.go
  upstream/vendor/github.com/google/go-containerregistry/pkg/v1/remote/check.go
  upstream/vendor/github.com/google/go-containerregistry/pkg/v1/remote/pusher.go
  upstream/vendor/github.com/google/go-containerregistry/pkg/v1/remote/write.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to ebdf9de522a1ecb9e880c8ddf8c4d23ed326d15d
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 5530b440468e5aa8c7d0b4d002111f70d19ab7c5
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update nightly from tektoncd/pipeline:main to 7acb4c2361bc274e62b67f798b7e9be963481d4d
  head
  upstream/.github/dependabot.config.yml
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/pipelinerun/tracing.go
  upstream/pkg/reconciler/pipelinerun/tracing_test.go
  upstream/pkg/reconciler/taskrun/taskrun.go
  upstream/pkg/reconciler/taskrun/tracing.go
  upstream/pkg/reconciler/taskrun/tracing_test.go
  upstream/releases.md
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline:release-v1.15.x to 37a6e18ccb46fc394c48baa2b262dbd912c8c392
  head
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependabot-regen.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/patch-release.yaml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/woke.yml
  upstream/.github/workflows/zizmor.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.24.x from tektoncd/pipeline:release-v1.15.x to 37a6e18ccb46fc394c48baa2b262dbd912c8c392
  head
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependabot-regen.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/patch-release.yaml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/woke.yml
  upstream/.github/workflows/zizmor.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

rebuild: trigger image rebuild 2026-08-13T12:35:50Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot] Update next from tektoncd/pipeline:release-v1.15.x to 37a6e18ccb46fc394c48baa2b262dbd912c8c392
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update nightly from tektoncd/pipeline:main to 7acb4c2361bc274e62b67f798b7e9be963481d4d
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.24.x from tektoncd/pipeline:release-v1.15.x to 37a6e18ccb46fc394c48baa2b262dbd912c8c392
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to fa066dfdc521fb4a1715b3de4759bbccbebc0e06
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/google.golang.org/protobuf/encoding/protodelim/protodelim.go
  upstream/vendor/google.golang.org/protobuf/encoding/protojson/decode.go
  upstream/vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  upstream/vendor/google.golang.org/protobuf/encoding/prototext/decode.go
  upstream/vendor/google.golang.org/protobuf/internal/descfmt/stringer.go
  upstream/vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  upstream/vendor/google.golang.org/protobuf/internal/encoding/defval/default.go
  upstream/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  upstream/vendor/google.golang.org/protobuf/internal/version/version.go
  upstream/vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  upstream/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  upstream/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/fieldmaskpb/field_mask.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/structpb/struct.pb.go
  upstream/vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request
