Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-nop-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/nop:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/nop.Dockerfile
  ...

tektoncd-pipeline-main-sidecarlogresults-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/sidecarlogresults:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to b54dcda0d16d988eac811c9869b7440e7cd5bd4f
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/go.mod
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

rebuild: trigger image rebuild 2026-06-25T10:25:09Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

chore: force trigger all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

One Click Release: build all konflux components
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.21.x from tektoncd/pipeline:release-v1.6.x to b54dcda0d16d988eac811c9869b7440e7cd5bd4f
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 7c4eb3ca893da521064d8dcac12fe6d817b858a3
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 03e3bae27bc260304e3887752ed0422a82fae543
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

update rpms
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 5a36e12618426979defe32b96ab8f586b598da0c
  head
  upstream/.github/workflows/e2e-matrix-extras.yaml
  upstream/.github/workflows/e2e-matrix.yml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to 5a36e12618426979defe32b96ab8f586b598da0c
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.12.x to c041e3b54208a275cafafb4ad70b49133ac996cc
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/.github/workflows/nightly-builds.yaml
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:next] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-nightly-workingdirinit
  .tekton/tektoncd-pipeline-nightly-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-workingdirinit-push.yaml
Due: none

rebuild: trigger image rebuild 2026-07-02T10:15:47Z
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot:nightly] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)
