Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

update version on the docker files
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

remove next dir
  .konflux/next/application.yaml
  .konflux/next/component-controller.yaml
  .konflux/next/component-entrypoint.yaml
  .konflux/next/component-events.yaml
  .konflux/next/component-nop.yaml
  .konflux/next/component-resolvers.yaml
  .konflux/next/component-sidecarlogresults.yaml
  .konflux/next/component-webhook.yaml
  .konflux/next/component-workingdirinit.yaml
  .konflux/next/image-controller.yaml
  .konflux/next/image-entrypoint.yaml
  .konflux/next/image-events.yaml
  .konflux/next/image-nop.yaml
  .konflux/next/image-resolvers.yaml
  .konflux/next/image-sidecarlogresults.yaml
  .konflux/next/image-webhook.yaml
  .konflux/next/image-workingdirinit.yaml
  .konflux/next/tests.yaml
Due: none

remove next files
  .tekton/tektoncd-pipeline-next-nop-push.yaml
  .tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-next-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-next-webhook-push.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
Due: none

remove next files
  .tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-next-controller-push.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .tekton/tektoncd-pipeline-next-events-push.yaml
  .tekton/tektoncd-pipeline-next-nop-pull-request.yaml
Due: none

Update controller.Dockerfile
  .konflux/dockerfiles/controller.Dockerfile
Due: none

Delete .konflux/patches/001-fix-git-resolver-env.patch
  .konflux/patches/001-fix-git-resolver-env.patch
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.21.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-21-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-controller-push.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-21-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-events-push.yaml
  .tekton/tektoncd-pipeline-1-21-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-nop-push.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.21.x.yaml
  .github/workflows/update-sources-release-v1.21.x.yaml
Due: none

Update resolvers.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
Due: none

fix issues with docker files
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.19.x from tektoncd/pipeline to f94258724746125f3472441417f1b0520fc77d64
  head
  upstream/config/config-defaults.yaml
  upstream/docs/additional-configs.md
  upstream/internal/sidecarlogresults/sidecarlogresults.go
  upstream/internal/sidecarlogresults/sidecarlogresults_test.go
  upstream/pkg/apis/config/default.go
  upstream/pkg/apis/config/default_test.go
  upstream/pkg/pod/pod.go
  upstream/pkg/pod/pod_test.go
  upstream/test/e2e-tests.sh
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline to a53cdad1636e62dc6aa6df68c22ee48af64effd2
  upstream/.pre-commit-config.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Update tini entrypoint in resolvers.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
Due: none

[bot] Update release-v1.19.x from tektoncd/pipeline to ed9f363bd28446c51136b2ea3cde2c6bb3142a83
  head
  upstream/pkg/pipelinerunmetrics/metrics.go
  upstream/pkg/pipelinerunmetrics/metrics_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline to 5b024a6c8b0fa05edc97dfda437e89bcccacbb0d
  head
  upstream/pkg/pipelinerunmetrics/metrics.go
  upstream/pkg/pipelinerunmetrics/metrics_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Add patch for 8903 PR and update base image SHA
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .konflux/patches/0001-chrry-pick-PR-8903.patch
Due: tektoncd-pipeline-main-events-on-push

Update rpms
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

Update .placeholder
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

update rpms lock
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-sidecarlogresults
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-webhook
  .tekton/tektoncd-pipeline-1-20-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-nop
  .tekton/tektoncd-pipeline-1-20-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-nop-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-resolvers
  .tekton/tektoncd-pipeline-1-20-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-entrypoint
  .tekton/tektoncd-pipeline-1-20-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-controller
  .tekton/tektoncd-pipeline-1-20-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-events
  .tekton/tektoncd-pipeline-1-20-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-20-workingdirinit
  .tekton/tektoncd-pipeline-1-20-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-push.yaml
Due: none
