Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot] Update release-v1.19.x from tektoncd/pipeline to 750502cd373669e60fd686bb28493512b3691fb2
  head
  upstream/test/resolvers_gitea_test.go
  upstream/test/resolvers_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline to f224e9b7296e78f6d573c08f61ef2d1f55e323f7
  head
  upstream/pkg/pod/status.go
  upstream/pkg/pod/status_test.go
  upstream/pkg/reconciler/pipelinerun/affinity_assistant.go
  upstream/pkg/reconciler/pipelinerun/affinity_assistant_test.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/volumeclaim/pvchandler.go
  upstream/pkg/reconciler/volumeclaim/pvchandler_test.go
  upstream/test/resolvers_gitea_test.go
  upstream/test/resolvers_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

update minimal sha image
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

fix rpm issue
  .konflux/rpms/rpms.in.yaml
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.20.x from tektoncd/pipeline to f224e9b7296e78f6d573c08f61ef2d1f55e323f7
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/contrib.go.opencensus.io/exporter/ocagent/README.md
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.19.x from tektoncd/pipeline to 0215e67a06b315785f34bf9f4cf1be91297038be
  head
  upstream/pkg/apis/pipeline/v1/pipelinerun_validation.go
  upstream/pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  upstream/pkg/apis/pipeline/v1/taskrun_validation.go
  upstream/pkg/apis/pipeline/v1/taskrun_validation_test.go
  upstream/pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  upstream/pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  upstream/pkg/apis/pipeline/v1beta1/taskrun_validation.go
  upstream/pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Update rpms.in.yaml
  .konflux/rpms/rpms.in.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.20.x from tektoncd/pipeline to 9ba3a79e9aa31ad6c79a53f9539e0f572662ad8a
  head
  upstream/pkg/apis/pipeline/v1/pipelinerun_validation.go
  upstream/pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  upstream/pkg/apis/pipeline/v1/taskrun_validation.go
  upstream/pkg/apis/pipeline/v1/taskrun_validation_test.go
  upstream/pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  upstream/pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  upstream/pkg/apis/pipeline/v1beta1/taskrun_validation.go
  upstream/pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-19-workingdirinit
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-19-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-19-sidecarlogresults
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-19-resolvers
  .konflux/dockerfiles/resolvers.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-19-nop
  .konflux/dockerfiles/nop.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-19-events
  .konflux/dockerfiles/events.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-19-entrypoint
  .konflux/dockerfiles/entrypoint.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-19-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-18-workingdirinit
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-18-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-18-sidecarlogresults
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-18-resolvers
  .konflux/dockerfiles/resolvers.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-18-nop
  .konflux/dockerfiles/nop.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-18-events
  .konflux/dockerfiles/events.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-18-entrypoint
  .konflux/dockerfiles/entrypoint.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-18-controller
  .konflux/dockerfiles/controller.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-17-workingdirinit
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-17-webhook
  .konflux/dockerfiles/webhook.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-17-sidecarlogresults
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-17-resolvers
  .konflux/dockerfiles/resolvers.Dockerfile
Due: none
