Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-events-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/events:{{revision}}
  - name: dockerfile
    value: .konflux/dockerfiles/events.Dockerfile
  ...

tektoncd-pipeline-main-nop-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/nop:{{revision}}
  - name: dockerfile
    value: openshift/dockerfiles/nop.Dockerfile
  ...

tektoncd-pipeline-main-sidecarlogresults-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/tekton-ecosystem-tenant/tektoncd-pipeline-main/sidecarlogresults:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

[bot:main] update konflux configuration
  .github/workflows/slack-notify-on-failure.yaml
Due: none

[bot:nightly] update konflux configuration
  .tekton/tektoncd-pipeline-nightly-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-controller-push.yaml
  .tekton/tektoncd-pipeline-nightly-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-nightly-events-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-events-push.yaml
  .tekton/tektoncd-pipeline-nightly-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-nop-push.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-push.yaml
  .tekton/tektoncd-pipeline-nightly-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-nightly-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-webhook-push.yaml
  .tekton/tektoncd-pipeline-nightly-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-workingdirinit-push.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-21-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-controller-push.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-21-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-events-push.yaml
  .tekton/tektoncd-pipeline-1-21-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-nop-push.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-push.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-15-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-controller-push.yaml
  .tekton/tektoncd-pipeline-1-15-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-15-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-events-push.yaml
  .tekton/tektoncd-pipeline-1-15-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-nop-push.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-15-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-15-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-15-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-workingdirinit-push.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-23-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-controller-push.yaml
  .tekton/tektoncd-pipeline-1-23-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-23-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-events-push.yaml
  .tekton/tektoncd-pipeline-1-23-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-nop-push.yaml
  .tekton/tektoncd-pipeline-1-23-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-23-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-23-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-23-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-workingdirinit-push.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-next-controller-push.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .tekton/tektoncd-pipeline-next-events-push.yaml
  .tekton/tektoncd-pipeline-next-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-next-nop-push.yaml
  .tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-next-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-next-webhook-push.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-20-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-controller-push.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-20-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-events-push.yaml
  .tekton/tektoncd-pipeline-1-20-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-nop-push.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-push.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
  .tekton/tektoncd-pipeline-1-22-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-controller-push.yaml
  .tekton/tektoncd-pipeline-1-22-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-22-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-events-push.yaml
  .tekton/tektoncd-pipeline-1-22-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-nop-push.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-22-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-22-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .tekton/tektoncd-pipeline-1-21-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-controller-push.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-21-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-events-push.yaml
  .tekton/tektoncd-pipeline-1-21-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-nop-push.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-push.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .tekton/tektoncd-pipeline-1-20-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-controller-push.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-20-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-events-push.yaml
  .tekton/tektoncd-pipeline-1-20-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-nop-push.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-push.yaml
Due: none

[bot:next] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-next-controller-push.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .tekton/tektoncd-pipeline-next-events-push.yaml
  .tekton/tektoncd-pipeline-next-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-next-nop-push.yaml
  .tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-next-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-next-webhook-push.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
Due: none

[bot:release-v1.22.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

[bot:release-v1.15.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .tekton/tektoncd-pipeline-1-15-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-controller-push.yaml
  .tekton/tektoncd-pipeline-1-15-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-15-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-events-push.yaml
  .tekton/tektoncd-pipeline-1-15-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-nop-push.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-15-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-15-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-15-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-15-workingdirinit-push.yaml
Due: none

[bot:nightly] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .tekton/tektoncd-pipeline-nightly-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-controller-push.yaml
  .tekton/tektoncd-pipeline-nightly-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-nightly-events-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-events-push.yaml
  .tekton/tektoncd-pipeline-nightly-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-nop-push.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-resolvers-push.yaml
  .tekton/tektoncd-pipeline-nightly-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-nightly-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-webhook-push.yaml
  .tekton/tektoncd-pipeline-nightly-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-nightly-workingdirinit-push.yaml
Due: none

[bot:release-v1.23.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
  .tekton/tektoncd-pipeline-1-23-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-controller-push.yaml
  .tekton/tektoncd-pipeline-1-23-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-23-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-events-push.yaml
  .tekton/tektoncd-pipeline-1-23-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-nop-push.yaml
  .tekton/tektoncd-pipeline-1-23-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-23-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-23-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-23-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-23-workingdirinit-push.yaml
Due: none

[bot] Update next from tektoncd/pipeline:release-v1.12.x to 8bfd0e3254a4707494d469d59751955d5f391360
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/go.mod
  upstream/go.sum
  upstream/test/custom-task-ctrls/wait-task-beta/go.mod
  upstream/test/custom-task-ctrls/wait-task-beta/go.sum
  upstream/vendor/github.com/google/cel-go/cel/program.go
  upstream/vendor/github.com/google/cel-go/checker/cost.go
  upstream/vendor/github.com/google/cel-go/common/env/BUILD.bazel
  upstream/vendor/github.com/google/cel-go/common/env/env.go
  upstream/vendor/github.com/google/cel-go/common/env/io.go
  upstream/vendor/github.com/google/cel-go/common/overloads/overloads.go
  upstream/vendor/github.com/google/cel-go/common/stdlib/standard.go
  upstream/vendor/github.com/jenkins-x/go-scm/scm/driver/gitlab/pr.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.9.x to 7a4d5687eb82acde6340c5495a0412017a04543d
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline:release-v1.3.x to bcad07505e6d3ae4658081db5ab7ccc085548a04
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update next from tektoncd/pipeline:release-v1.12.x to 7aac85ebff38415b6aeb0dd24749a460fb43659e
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependabot-regen.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/go-coverage.yml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/woke.yml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update nightly from tektoncd/pipeline:main to 1c274c1ab52a0143a995925c2d64e073a7b22eae
  .konflux/rpms/rpms.lock.yaml
  head
  upstream/docs/developers/README.md
  upstream/docs/developers/testing-best-practices.md
  upstream/go.mod
  upstream/go.sum
  upstream/test/custom-task-ctrls/wait-task-beta/go.mod
  upstream/test/custom-task-ctrls/wait-task-beta/go.sum
  upstream/vendor/github.com/google/cel-go/cel/program.go
  upstream/vendor/github.com/google/cel-go/checker/cost.go
  upstream/vendor/github.com/google/cel-go/common/env/BUILD.bazel
  upstream/vendor/github.com/google/cel-go/common/env/env.go
  upstream/vendor/github.com/google/cel-go/common/env/io.go
  upstream/vendor/github.com/google/cel-go/common/overloads/overloads.go
  upstream/vendor/github.com/google/cel-go/common/stdlib/standard.go
  upstream/vendor/golang.org/x/crypto/hkdf/hkdf.go
  upstream/vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  upstream/vendor/golang.org/x/sys/cpu/cpu_other_arm64.go
  upstream/vendor/golang.org/x/sys/cpu/cpu_windows.go
  upstream/vendor/golang.org/x/sys/cpu/cpu_windows_arm64.go
  upstream/vendor/golang.org/x/sys/cpu/zcpu_windows.go
  upstream/vendor/golang.org/x/sys/unix/affinity_linux.go
  upstream/vendor/golang.org/x/sys/unix/mkall.sh
  upstream/vendor/golang.org/x/sys/unix/syscall_linux.go
  upstream/vendor/golang.org/x/sys/unix/syscall_linux_arm.go
  upstream/vendor/golang.org/x/sys/unix/syscall_linux_arm64.go
  upstream/vendor/golang.org/x/sys/unix/syscall_linux_loong64.go
  upstream/vendor/golang.org/x/sys/unix/syscall_linux_riscv64.go
  upstream/vendor/golang.org/x/sys/unix/zsyscall_linux.go
  upstream/vendor/golang.org/x/sys/windows/syscall_windows.go
  upstream/vendor/golang.org/x/sys/windows/types_windows.go
  upstream/vendor/golang.org/x/sys/windows/zsyscall_windows.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline:release-v1.3.x to e4409a820c0501da0245ca32563502ac080e9a13
  head
  upstream/.github/workflows/woke.yml
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.22.x from tektoncd/pipeline:release-v1.9.x to 01141e2081ddeed3cd358b1706995bba4c4aed9c
  head
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline:release-v1.12.x to d57b0dd8dfc3bc9b44a142eba38d39ceba29d909
  head
  upstream/go.mod
  upstream/go.sum
  upstream/tekton/publish.yaml
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.23.x from tektoncd/pipeline:release-v1.9.x to 01141e2081ddeed3cd358b1706995bba4c4aed9c
  head
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.20.x] update konflux configuration
  .github/workflows/auto-merge-upstream.yaml
Due: none

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)
