Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

Rename trigger from 'build' to 'build1'
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

Update latest commit of v1.9.x
  head
Due: none

Change trigger to rebuild2 in placeholder file
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

Delete .github/workflows/update-sources.yaml
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.18.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.19.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

[bot:release-v1.21.x] update konflux configuration
  .github/workflows/update-sources.yaml
Due: none

Update rpms lock
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

Update rpms lock
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.21.x from tektoncd/pipeline to b335a6c5af164bf93fbf145e69de172d23b2e6a3
  head
  upstream/config/300-crds/300-pipelinerun.yaml
  upstream/config/300-crds/300-taskrun.yaml
  upstream/docs/podtemplates.md
  upstream/pkg/apis/pipeline/pod/template.go
  upstream/pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  upstream/pkg/apis/pipeline/v1/openapi_generated.go
  upstream/pkg/apis/pipeline/v1/swagger.json
  upstream/pkg/apis/pipeline/v1alpha1/openapi_generated.go
  upstream/pkg/apis/pipeline/v1alpha1/swagger.json
  upstream/pkg/apis/pipeline/v1beta1/openapi_generated.go
  upstream/pkg/apis/pipeline/v1beta1/swagger.json
  upstream/pkg/pod/pod.go
  upstream/pkg/pod/pod_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.20.x from tektoncd/pipeline to e36e8782594ada1a40533b6f6b27fe4b2cef2414
  head
  upstream/pkg/reconciler/pipelinerun/pipelinerun.go
  upstream/pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-workingdirinit
  .tekton/tektoncd-pipeline-1-22-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-workingdirinit-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-sidecarlogresults
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-resolvers
  .tekton/tektoncd-pipeline-1-22-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-controller
  .tekton/tektoncd-pipeline-1-22-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-webhook
  .tekton/tektoncd-pipeline-1-22-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-events
  .tekton/tektoncd-pipeline-1-22-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-entrypoint
  .tekton/tektoncd-pipeline-1-22-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-entrypoint-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 purge tektoncd-pipeline-1-22-nop
  .tekton/tektoncd-pipeline-1-22-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-nop-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-22-controller
  .tekton/tektoncd-pipeline-1-22-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-controller-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-22-entrypoint
  .tekton/tektoncd-pipeline-1-22-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-entrypoint-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-22-events
  .tekton/tektoncd-pipeline-1-22-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-events-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-22-nop
  .tekton/tektoncd-pipeline-1-22-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-nop-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-22-resolvers
  .tekton/tektoncd-pipeline-1-22-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-resolvers-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-22-sidecarlogresults
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-22-webhook
  .tekton/tektoncd-pipeline-1-22-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-webhook-push.yaml
Due: none

Red Hat Konflux kflux-prd-rh02 update tektoncd-pipeline-1-22-workingdirinit
  .tekton/tektoncd-pipeline-1-22-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-22-workingdirinit-push.yaml
Due: none
