Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

chore(deps): update module github.com/hashicorp/go-sockaddr to v1.0.7
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/hashicorp/go-sockaddr/LICENSE
  upstream/vendor/github.com/hashicorp/go-sockaddr/README.md
  upstream/vendor/github.com/hashicorp/go-sockaddr/ifaddrs.go
  upstream/vendor/github.com/hashicorp/go-sockaddr/route_info.go
  upstream/vendor/github.com/hashicorp/go-sockaddr/route_info_aix.go
  upstream/vendor/github.com/hashicorp/go-sockaddr/route_info_bsd.go
  upstream/vendor/github.com/hashicorp/go-sockaddr/route_info_default.go
  upstream/vendor/github.com/hashicorp/go-sockaddr/route_info_linux.go
  upstream/vendor/github.com/hashicorp/go-sockaddr/route_info_solaris.go
  upstream/vendor/github.com/hashicorp/go-sockaddr/route_info_test_windows.go
  upstream/vendor/github.com/hashicorp/go-sockaddr/route_info_windows.go
  upstream/vendor/github.com/hashicorp/go-sockaddr/unixsock.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

fix entrypoint dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
Due: none

Add patch to fix git environment variables
  .konflux/patches/001-fix-git-resolver-env.patch
Due: tektoncd-pipeline-main-events-on-push

Update ubi-minimal sha to latests for 1.19.1
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/entrypoint.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

fix compiling tags
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

Add patch to fix git environment variables
  .konflux/patches/0001-Add-patch-changes-for-8908-pull-request.patch
Due: tektoncd-pipeline-main-events-on-push

add fips compliance libraries to nop image
  .konflux/dockerfiles/nop.Dockerfile
Due: none

[bot] Update release-v1.19.x from tektoncd/pipeline to 347c03238a2694e37a9e2808820c712dd7e281e5
  head
  upstream/config/300-crds/300-pipelinerun.yaml
  upstream/config/300-crds/300-taskrun.yaml
  upstream/examples/v1/pipelineruns/beta/git-resolver.yaml
  upstream/examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  upstream/examples/v1/pipelineruns/beta/http-resolver.yaml
  upstream/examples/v1/pipelineruns/no-ci/git-resolver-custom-apiurl.yaml
  upstream/examples/v1/pipelineruns/no-ci/git-resolver-custom-secret.yaml
  upstream/examples/v1/pipelineruns/pipelinerun-with-final-tasks.yaml
  upstream/examples/v1/pipelineruns/pipelinerun.yaml
  upstream/examples/v1/taskruns/authenticating-git-commands.yaml
  upstream/examples/v1/taskruns/beta/authenticating-git-commands.yaml
  upstream/examples/v1/taskruns/beta/bundles-resolver.yaml
  upstream/examples/v1/taskruns/beta/git-resolver.yaml
  upstream/examples/v1/taskruns/beta/hub-resolver.yaml
  upstream/examples/v1/taskruns/entrypoint-resolution.yaml
  upstream/examples/v1/taskruns/no-ci/docker-creds.yaml
  upstream/examples/v1/taskruns/no-ci/pull-private-image.yaml
  upstream/pkg/apis/pipeline/v1/openapi_generated.go
  upstream/pkg/apis/pipeline/v1/provenance.go
  upstream/pkg/apis/pipeline/v1/swagger.json
  upstream/pkg/apis/pipeline/v1beta1/openapi_generated.go
  upstream/pkg/apis/pipeline/v1beta1/provenance.go
  upstream/pkg/apis/pipeline/v1beta1/swagger.json
  upstream/tekton/release-pipeline.yaml
  upstream/test/resolvers_test.go
  upstream/test/tektonbundles_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.19.x from tektoncd/pipeline to ef9a69bb2e96d5a46474b38b8d766abbbc199e24
  head
  upstream/pkg/resolution/resolver/git/repository.go
  upstream/pkg/resolution/resolver/git/repository_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.19.x from tektoncd/pipeline to 84971da74909e3ca9628f3a12e68ab1b2f2838de
  head
  upstream/pkg/apis/pipeline/v1/pipeline_validation_test.go
  upstream/pkg/apis/pipeline/v1beta1/pipeline_validation.go
  upstream/pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Delete .konflux/patches/0001-Add-patch-changes-for-8908-pull-request.patch
  .konflux/patches/0001-Add-patch-changes-for-8908-pull-request.patch
Due: tektoncd-pipeline-main-events-on-push

[bot] Update release-v1.19.x from tektoncd/pipeline to 5418bdfefe82def0d1068035ea16abd5dd9b5430
  head
  upstream/.github/workflows/ci.yaml
  upstream/examples/v1/pipelineruns/no-ci/git-resolver-custom-secret.yaml
  upstream/pkg/resolution/resolver/git/repository.go
  upstream/pkg/resolution/resolver/git/repository_test.go
  upstream/test/resolvers_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot:release-v1.21.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-21-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-controller-push.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-21-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-events-push.yaml
  .tekton/tektoncd-pipeline-1-21-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-nop-push.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-21-workingdirinit-push.yaml
Due: none

[bot:release-v1.20.x] update konflux configuration
  .tekton/tektoncd-pipeline-1-20-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-controller-push.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-1-20-events-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-events-push.yaml
  .tekton/tektoncd-pipeline-1-20-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-nop-push.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-resolvers-push.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-webhook-push.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-1-20-workingdirinit-push.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.20.x.yaml
  .github/workflows/update-sources-release-v1.20.x.yaml
Due: none
