Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot] Update from tektoncd/pipeline to 7b76131b656adca53b12c6bf0f07b7ee97a656df
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/woke.yml
  upstream/.golangci.yml
  upstream/cmd/entrypoint/subcommands/subcommands.go
  upstream/pkg/remote/errors.go
  upstream/pkg/remote/resolution/error.go
  upstream/pkg/resolution/common/errors.go
  upstream/pkg/resolution/resolver/framework/controller.go
  upstream/releases.md
  upstream/tekton/publish.yaml
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

DNM: Testing something
  upstream/README.md
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] update konflux configuration
  .konflux/main/tests-on-push.yaml
  .konflux/main/tests.yaml
  .konflux/next/tests-on-push.yaml
Due: none

[bot] update konflux configuration
  .konflux/main/tests-on-push.yaml
  .konflux/main/tests.yaml
  .konflux/next/tests-on-push.yaml
  .konflux/next/tests.yaml
Due: none

Add sample to rebuild pipelines in konflux
  .konflux/README.md
Due: none

Red Hat Konflux update tektoncd-pipeline-next-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-next-controller-push.yaml
Due: none

Red Hat Konflux update tektoncd-pipeline-next-entrypoint Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-push.yaml
Due: none

Red Hat Konflux update tektoncd-pipeline-next-events Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .tekton/tektoncd-pipeline-next-events-push.yaml
Due: none

Red Hat Konflux update tektoncd-pipeline-next-nop Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-next-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-next-nop-push.yaml
Due: none

Red Hat Konflux update tektoncd-pipeline-next-resolvers Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-next-resolvers-push.yaml
Due: none

Red Hat Konflux update tektoncd-pipeline-next-sidecarlogresults Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-next-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
Due: none

Red Hat Konflux update tektoncd-pipeline-next-webhook Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-next-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-next-webhook-push.yaml
Due: none

Red Hat Konflux update tektoncd-pipeline-next-workingdirinit Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
Due: none

fooo
  upstream/README.md
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Update .placeholder to rebuild
  .konflux/patches/.placeholder
Due: tektoncd-pipeline-main-events-on-push

[bot] Update from tektoncd/pipeline to 85dc300ab5813f70ed720bcfbdbf88b16ef69f52
  head
  upstream/config/resolvers/200-clusterrole.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update from tektoncd/pipeline to 4e8eec7e90ecd638f0ffb24a8c05cc345e93f5af
  head
  upstream/config/resolvers/200-clusterrole.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update from tektoncd/pipeline to cfc5c7b82ecdebf5db9dbde9f85662f710c00233
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/dependency-review.yml
  upstream/.github/workflows/scorecard.yml
  upstream/.github/workflows/woke.yml
  upstream/tekton/publish.yaml
  upstream/tools/go.mod
  upstream/tools/go.sum
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] update konflux configuration
  .github/workflows/update-sources.main.yaml
  .github/workflows/update-sources.next.yaml
Due: none

[bot] Update main from tektoncd/pipeline to 0f2d9f1f0fbc0f0865dc360ae7b971c8ec24aff5
  head
  upstream/pkg/remoteresolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resolver/git/resolver.go
  upstream/pkg/resolution/resolver/git/resolver_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update main from tektoncd/pipeline to 1dd488eda738a124e9dfe8874dbb192f8bc30839
  head
  upstream/.github/workflows/codeql-analysis.yml
  upstream/.github/workflows/scorecard.yml
  upstream/tekton/publish.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline to acb6211a2042372032f866092c938bac2cb90721
  head
  upstream/pkg/remoteresolution/resolver/git/resolver_test.go
  upstream/pkg/resolution/resolver/git/resolver.go
  upstream/pkg/resolution/resolver/git/resolver_test.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Add release plan for nightly release
  .konflux/next/release-plan.yaml
Due: none

[bot] Update main from tektoncd/pipeline to e4a61ac8ba98fda0c1286eb332e23010eee5a593
  head
  upstream/docs/stepactions.md
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update main from tektoncd/pipeline to f702e0a8dd5d057699f52a971716b8c24f2c97ce
  head
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.gitignore
  upstream/.pre-commit-config.yaml
  upstream/hack/setup-kind.sh
  upstream/releases.md
  upstream/tekton/bugfix-release.sh
  upstream/test/e2e-tests.sh
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update main from tektoncd/pipeline to 76ab80309e01dada0f0be57ee5fda9fdb15e0fc6
  head
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/slash.yml
  upstream/pkg/apis/pipeline/v1/param_types.go
  upstream/pkg/apis/pipeline/v1beta1/param_types.go
  upstream/test/featureflags.go
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request
