Repository openshift-pipelines/tektoncd-pipeline: changes, and which Tekton pipelines are due for each by the changed paths.
All: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Path conditions:
  events-on-push: (((any of: upstream/***) or (any of: .tekton/events-pull-request.yaml)) or (any of: .tekton/events-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-events-on-push: (((((any of: upstream/***) or (any of: .konflux/patches/***)) or (any of: .konflux/rpms/***)) or (any of: .konflux/dockerfiles/events.Dockerfile)) or (any of: .tekton/tektoncd-pipeline-main-events-push.yaml)) or (any of: .tekton/docker-build-ta.yaml)
  tektoncd-pipeline-main-nop-on-push: ((((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: openshift/dockerfiles/nop.Dockerfile)) or (any of: .tekton/nop-pull-request.yaml)) or (any of: .tekton/nop-push.yaml)) or (any of: .tekton/docker-build.yaml)
  tektoncd-pipeline-main-sidecarlogresults-on-pull-request: (((((any of: upstream/***) or (any of: openshift/patches/***)) or (any of: openshift/rpms/***)) or (any of: .tekton/sidecarlogresults-pull-request.yaml)) or (any of: .tekton/sidecarlogresults-push.yaml)) or (any of: .tekton/docker-build.yaml)

[bot] Update next from tektoncd/pipeline to 9ba3a79e9aa31ad6c79a53f9539e0f572662ad8a
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/github.com/tektoncd/plumbing/.gitignore
  upstream/vendor/github.com/tektoncd/plumbing/CONTRIBUTING.md
  upstream/vendor/github.com/tektoncd/plumbing/DEVELOPMENT.md
  upstream/vendor/github.com/tektoncd/plumbing/OWNERS
  upstream/vendor/github.com/tektoncd/plumbing/README.md
  upstream/vendor/github.com/tektoncd/plumbing/cmd/combine/README.md
  upstream/vendor/github.com/tektoncd/plumbing/cmd/combine/main.go
  upstream/vendor/github.com/tektoncd/plumbing/scripts/README.md
  upstream/vendor/github.com/tektoncd/plumbing/scripts/deploy-release.sh
  upstream/vendor/github.com/tektoncd/plumbing/scripts/e2e-tests.sh
  upstream/vendor/github.com/tektoncd/plumbing/scripts/library.sh
  upstream/vendor/github.com/tektoncd/plumbing/scripts/verified-catalog-e2e-common.sh
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline to 9ba3a79e9aa31ad6c79a53f9539e0f572662ad8a
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/cloud.google.com/go/longrunning/CHANGES.md
  upstream/vendor/knative.dev/hack/OWNERS_ALIASES
  upstream/vendor/knative.dev/hack/infra-library.sh
  upstream/vendor/knative.dev/hack/library.sh
  upstream/vendor/knative.dev/hack/presubmit-tests.sh
  upstream/vendor/knative.dev/hack/release.sh
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update next from tektoncd/pipeline to 9ba3a79e9aa31ad6c79a53f9539e0f572662ad8a
  upstream/go.mod
  upstream/go.sum
  upstream/vendor/google.golang.org/protobuf/encoding/protowire/wire.go
  upstream/vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  upstream/vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  upstream/vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  upstream/vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  upstream/vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  upstream/vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  upstream/vendor/google.golang.org/protobuf/internal/filedesc/presence.go
  upstream/vendor/google.golang.org/protobuf/internal/genid/api_gen.go
  upstream/vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/codec_message_opaque.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/message_opaque.go
  upstream/vendor/google.golang.org/protobuf/internal/impl/presence.go
  upstream/vendor/google.golang.org/protobuf/internal/version/version.go
  upstream/vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  upstream/vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  upstream/vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  upstream/vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  upstream/vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  upstream/vendor/modules.txt
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

Update renovate.json configuration settings
  renovate.json
Due: none

[bot:next] update konflux configuration
  .tekton/tektoncd-pipeline-next-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-next-events-pull-request.yaml
  .tekton/tektoncd-pipeline-next-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-next-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-next-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-pull-request.yaml
Due: none

fix compiling tags
  .konflux/dockerfiles/controller.Dockerfile
  .konflux/dockerfiles/events.Dockerfile
  .konflux/dockerfiles/nop.Dockerfile
  .konflux/dockerfiles/resolvers.Dockerfile
  .konflux/dockerfiles/sidecarlogresults.Dockerfile
  .konflux/dockerfiles/webhook.Dockerfile
  .konflux/dockerfiles/workingdirinit.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

add fips compliance libraries to nop image
  .konflux/dockerfiles/nop.Dockerfile
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for tektoncd-pipeline-1-17-events
  .konflux/dockerfiles/events.Dockerfile
Due: tektoncd-pipeline-main-events-on-push

[bot:main] update konflux configuration
  .github/workflows/update-sources-next.yaml
Due: none

[bot:main] update konflux configuration
  .github/workflows/auto-merge-release-v1.17.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.16.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.17.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.19.x.yaml
  .github/workflows/auto-merge-upstream-release-v1.20.x.yaml
  .github/workflows/update-sources-release-v1.14.x.yaml
  .github/workflows/update-sources-release-v1.15.x.yaml
  .github/workflows/update-sources-release-v1.16.x.yaml
  .github/workflows/update-sources-release-v1.17.x.yaml
  .github/workflows/update-sources-release-v1.18.x.yaml
  .github/workflows/update-sources-release-v1.19.x.yaml
  .github/workflows/update-sources-release-v1.20.x.yaml
Due: none

[bot:main] update konflux configuration
  .github/renovate.json
Due: none

[bot:main] update konflux configuration
  .github/renovate.json
  .github/workflows/auto-merge-upstream-tektoncd-pipeline.yaml
  .github/workflows/update-sources-tektoncd-pipeline.yaml
  .tekton/tektoncd-pipeline-main-controller-pull-request.yaml
  .tekton/tektoncd-pipeline-main-controller-push.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-pull-request.yaml
  .tekton/tektoncd-pipeline-main-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-main-events-pull-request.yaml
  .tekton/tektoncd-pipeline-main-events-push.yaml
  .tekton/tektoncd-pipeline-main-nop-pull-request.yaml
  .tekton/tektoncd-pipeline-main-nop-push.yaml
  .tekton/tektoncd-pipeline-main-resolvers-pull-request.yaml
  .tekton/tektoncd-pipeline-main-resolvers-push.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-pull-request.yaml
  .tekton/tektoncd-pipeline-main-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-main-webhook-pull-request.yaml
  .tekton/tektoncd-pipeline-main-webhook-push.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-pull-request.yaml
  .tekton/tektoncd-pipeline-main-workingdirinit-push.yaml
Due: tektoncd-pipeline-main-events-on-push

[bot:main] update konflux configuration
  .github/workflows/auto-merge-upstream-release-v1.21.x.yaml
  .github/workflows/update-sources-release-v1.21.x.yaml
Due: none

[bot:next] update konflux configuration
  .tekton/tektoncd-pipeline-next-controller-push.yaml
  .tekton/tektoncd-pipeline-next-entrypoint-push.yaml
  .tekton/tektoncd-pipeline-next-events-push.yaml
  .tekton/tektoncd-pipeline-next-nop-push.yaml
  .tekton/tektoncd-pipeline-next-resolvers-push.yaml
  .tekton/tektoncd-pipeline-next-sidecarlogresults-push.yaml
  .tekton/tektoncd-pipeline-next-webhook-push.yaml
  .tekton/tektoncd-pipeline-next-workingdirinit-push.yaml
Due: none

[bot] Update release-v1.20.x from tektoncd/pipeline to e5ed49f75f3c7b9462b076aac7ef430090101bbf
  head
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/slash.yml
  upstream/examples/v1/pipelineruns/no-ci/git-resolver-custom-secret.yaml
  upstream/pkg/resolution/resolver/git/repository.go
  upstream/pkg/resolution/resolver/git/repository_test.go
  upstream/test/testdata/spire/spire-agent.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

[bot] Update release-v1.21.x from tektoncd/pipeline to e5ed49f75f3c7b9462b076aac7ef430090101bbf
  head
  upstream/.github/workflows/chatops_retest.yaml
  upstream/.github/workflows/ci.yaml
  upstream/.github/workflows/e2e-matrix.yml
  upstream/.github/workflows/nightly-builds.yaml
  upstream/.github/workflows/slash.yml
  upstream/examples/v1/pipelineruns/no-ci/git-resolver-custom-secret.yaml
  upstream/pkg/resolution/resolver/git/repository.go
  upstream/pkg/resolution/resolver/git/repository_test.go
  upstream/test/testdata/spire/spire-agent.yaml
Due: events-on-push, tektoncd-pipeline-main-events-on-push, tektoncd-pipeline-main-nop-on-push, tektoncd-pipeline-main-sidecarlogresults-on-pull-request

trigger build
  .konflux/dockerfiles/resolvers.Dockerfile
Due: none

update rpms.lock file
  .konflux/rpms/rpms.lock.yaml
Due: tektoncd-pipeline-main-events-on-push

Add '-y' flag to microdnf update commands
  .konflux/dockerfiles/resolvers.Dockerfile
Due: none
